<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Site d'enquête</span>
            </div>

            <div class="title">Site d'enquête</div>
        </div>
    </div>
    <div class="content"layout="column">
		<div class="form-wrapper">
			<!--div style="widht:100%;">    
				<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
					Nouveau
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
					Modifier
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
					Supprimer
				</md-button>
			</div-->  
<!-- BASIC FORM -->			
			<div class="white-bg md-whiteframe-4dp">
	<!-- FORM SITE D'EMBARQUEMENT-->				
				<md-tabs md-dynamic-height ng-show="vm.affichageMasque==1" md-stretch-tabs="always">
					<md-tab label="Ajout Site d'enquête">
						<div class="simple-table-container md-whiteframe-4dp">
						
							<br>
							<form name="site_embarquementform" class="md-inline-form"  novalidate>
								<div layout="column" layout-gt-xs="row" flex>
									<input type="hidden" ng-model="vm.site_embarquement.id"></input>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="code" ng-model="vm.site_embarquement.code"
											placeholder="Code" ng-init="vm.site_embarquement.code=''"
										required>
										<div ng-messages="site_embarquementform.code.$error"
											role="alert">
											<div ng-message="required">
												<span>Code obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="libelle" ng-model="vm.site_embarquement.libelle"
										placeholder="Libelle " ng-init="vm.site_embarquement.libelle=''"
										required>
										<div ng-messages="site_embarquementform.libelle.$error"
											role="alert">
											<div ng-message="required">
												<span>Libelle obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="code_unique" ng-model="vm.site_embarquement.code_unique"
										placeholder="Code unique " ng-init="vm.site_embarquement.code_unique=''"
										required>
										<div ng-messages="site_embarquementform.code_unique.$error"
											role="alert">
											<div ng-message="required">
												<span>Code unique obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="latitude" ng-model="vm.site_embarquement.latitude"
										placeholder="Latitude " ng-init="vm.site_embarquement.latitude=''"
										required>
										<div ng-messages="site_embarquementform.latitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Latitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="longitude" ng-model="vm.site_embarquement.longitude"
										placeholder="Longitude " ng-init="vm.site_embarquement.longitude=''"
										required>
										<div ng-messages="site_embarquementform.longitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Longitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="altitude" ng-model="vm.site_embarquement.altitude"
										placeholder="Altitude " ng-init="vm.site_embarquement.altitude=''"
										required>
										<div ng-messages="site_embarquementform.altitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Altitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>Region</label>
										<md-select ng-model="vm.site_embarquement.region_id"  ng-change="vm.modifierregion(vm.site_embarquement)">
											<md-option ng-repeat="region in vm.allregion" value="{{region.id}}">
												{{region.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>District</label>
										<md-select ng-model="vm.site_embarquement.district_id" required>
											<md-option ng-repeat="district in vm.allcurrentdistrict" value="{{district.id}}">
												{{district.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="number" name="limite" ng-model="vm.site_embarquement.limite"
										placeholder="Limite " ng-init="vm.site_embarquement.limite=''"
										required>
										<div ng-messages="site_embarquementform.limite.$error"
											role="alert">
											<div ng-message="required">
												<span>Limite obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>Type d'effort</label>
										<md-select ng-model="vm.site_embarquement.type_effort_peche" required>
											<md-option  value="0">
												PAB
											</md-option>
											<md-option  value="1">
												CAB
											</md-option>
											<md-option  value="2">
												PAB & CAB
											</md-option>
										</md-select>
									</md-input-container>

								</div>
								
								<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									ng-disabled="site_embarquementform.$invalid " ng-click="vm.ajout(vm.site_embarquement,0)">
									Enregistrer
								</md-button>
								<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
									Annuler
								</md-button>
							</form>					
						</div>
					
					</md-tab>
					
				</md-tabs>
	<!-- /FORM SITE D'EMBARQUEMENT-->

	<!-- FORM SITE site_enqueteur-->
				<md-tabs md-dynamic-height ng-show="vm.affichageMasquesite_enqueteur==1">
		            <md-tab label="Ajout site_enqueteur">
		          
		                <form name="site_enqueteurform" class="md-inline-form" novalidate>
		                  <div layout="column" layout-gt-xs="row" flex>
		                    <input type="hidden" ng-model="vm.site_enqueteur.id"></input>
		                      <md-input-container flex="50" flex-gt-xs="33">
		                            <label>Enqueteur</label>
		                              <md-select ng-model="vm.site_enqueteur.enqueteur_id" ng-change="vm.modifierenqueteur(vm.site_enqueteur)">
		                                <md-option ng-repeat="enqueteur in vm.allenqueteur" value="{{enqueteur.id}}">
		                                  {{enqueteur.nom}} {{enqueteur.prenom}}.

		                                </md-option>
		                              </md-select>
		                      </md-input-container>
		                  </div>
		                  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
		                        ng-disabled="site_enqueteurform.$invalid" ng-click="vm.ajoutsite_enqueteur(vm.site_enqueteur,0)">
		                        Enregistrer
		                  </md-button>
		                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulersite_enqueteur()">
		                    Annuler
		                  </md-button>
		                </form>
		         
		         
		            </md-tab>
		         </md-tabs>
	<!-- /FORM SITE site_enqueteur-->
	
	<!-- FORM SITE UNITE_SITE-->
			<md-tabs md-dynamic-height ng-show="vm.affichageMasqueunite_peche_site==1">
	            <md-tab label="Ajout unite_peche_site">
	            
	                <form name="unite_peche_siteform" class="md-inline-form" novalidate>
	                  <div layout="column" layout-gt-xs="row" flex>
	                    <input type="hidden" ng-model="vm.unite_peche_site.id"></input>

	                      <md-input-container flex="100" flex-gt-xs="33">
	                            <label>unite_peche</label>
	                              <md-select ng-model="vm.unite_peche_site.unite_peche_id" ng-change="vm.modifierunite_peche(vm.unite_peche_site)" required>
	                                <md-option ng-repeat="unite_peche in vm.allunite_peche" value="{{unite_peche.id}}">
	                                  {{unite_peche.libelle}}

	                                </md-option>
	                              </md-select>
	                      </md-input-container>

	                      <md-input-container flex="100" flex-gt-xs="33">
	                        <input type="number" name="nbr_echantillon" ng-model="vm.unite_peche_site.nbr_echantillon"
	                          placeholder="Nombre " ng-init="vm.unite_peche_site.nbr_echantillon=''"
	                          required>
	                          <div ng-messages="unite_peche_siteform.nbr_echantillon.$error"
	                            role="alert">
	                            <div ng-message="required">
	                              <span>nombre echantillon obligatoire.</span>
	                            </div>
	                          </div>
	                      </md-input-container>

	                  </div>
	                  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
	                        ng-disabled="unite_peche_siteform.$invalid" ng-click="vm.ajoutunite_peche_site(vm.unite_peche_site,0)">
	                        Enregistrer
	                  </md-button>
	                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerunite_peche_site()">
	                    Annuler
	                  </md-button>
	                </form>
	            
	         
	            </md-tab>
          </md-tabs>
	<!-- FORM SITE UNITE_SITE-->			
			</div>
<!-- / BASIC FORM -->			
<!--STEP-->				
			<div layout="row">
	        	<ms-form-wizard flex>
	                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

	<!--STEP1 site d'enquête--> 						
						<md-tab ng-click="removeBouton()">
	                        <md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="vm.step1==false">1</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step1==true">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Liste site d'enquête</span>
	                            </span>
	                        </md-tab-label>

	                       <md-tab-body ms-form-wizard-form>
	                       		<md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 1</md-button >
	                       		 <div style="widht:100%;">    
									<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
										Nouveau
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
										Modifier
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
										Supprimer
									</md-button>
								</div> 
								<table class="dataTable row-border hover" datatable="ng"
									dt-options="vm.dtOptions">
									<thead>
										<tr>
											<th class="secondary-text" ng-repeat="co in ::vm.site_embarquement_column">
												<div class="table-header">
													<span class="column-title">{{co.titre}}</span>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="site_embarquement in vm.allsite_embarquement"  ng-class="{selected: site_embarquement.$selected}" ng-click="vm.selection(site_embarquement)">
											<td>{{site_embarquement.code}}</td>
											<td>{{site_embarquement.libelle}}</td>
											<!--td>{{site_embarquement.code_unique}}</td-->
											<td>{{site_embarquement.latitude}}</td>
											<td>{{site_embarquement.longitude}}</td>
											<td>{{site_embarquement.altitude}}</td>
											<td>{{site_embarquement.region.nom}}</td>
											<td>{{site_embarquement.district.nom}}</td>
											<td>{{site_embarquement.limite}} m</td>
											<td>{{vm.typeEffort(site_embarquement.type_effort_peche)}}</td>
										</tr>
									</tbody>
								</table>
							</md-tab-body>
	                    </md-tab>
	<!--/STEP1 site d'enquête-->

	<!--STEP2 site_enqueteur-->	                    
	                    <md-tab ng-disabled="!vm.step1">
	                    	<md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="!vm.step2">2</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step2">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Liste enqueteur</span>
	                            </span>
	                        </md-tab-label>
	                        <md-tab-body ms-form-wizard-form>
	                        	<md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 2</md-button >
	                       		 <div style="widht:100%;">    
									<md-button type="submit" ng-show="vm.afficherboutonnouveausite_enqueteur==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajoutersite_enqueteur()" style="width:10%;">
										Nouveau
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSuprsite_enqueteur==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifiersite_enqueteur()" style="width:10%;">
										Modifier
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSuprsite_enqueteur==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimersite_enqueteur()" style="width:10%;">
										Supprimer
									</md-button>
								</div>
	                        	<table class="dataTable row-border hover" datatable="ng"
				                  dt-options="vm.dtOptions">
				                  <thead>
				                    <tr>
				                      <th class="secondary-text" ng-repeat="di in ::vm.site_enqueteur_column">
				                        <div class="table-header">
				                            <span class="column-title">{{di.titre}}</span>
				                        </div>
				                      </th>
				                    </tr>
				                  </thead>
				                    <tbody>
				                      <tr ng-repeat="site_enqueteur in vm.allsite_enqueteur"  ng-class="{selected: site_enqueteur.$selected}" ng-click="vm.selectionsite_enqueteur(site_enqueteur)">
				                        <td>{{site_enqueteur.enqueteur.nom}}</td>
				                        <td>{{site_enqueteur.enqueteur.prenom}}</td>
				                        <td>{{site_enqueteur.enqueteur.telephone}}</td>
				                      </tr>
				                    </tbody>
				                </table>	
	                       	</md-tab-body>	
	                    </md-tab>
	<!--/STEP2 site_enqueteur-->
	
	<!--STEP3 unite_peche-->	                    
	                    <md-tab ng-disabled="!vm.step1">
	                    	<md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="!vm.step3">3</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step3">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Liste unite de pêche</span>
	                            </span>
	                        </md-tab-label>
	                        <md-tab-body ms-form-wizard-form>
	                        <md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 3</md-button >
	                       		 <div style="widht:100%;">    
									<md-button type="submit" ng-show="vm.afficherboutonnouveauunite_peche_site==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterunite_peche_site()" style="width:10%;">
										Nouveau
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSuprunite_peche_site==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierunite_peche_site()" style="width:10%;">
										Modifier
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSuprunite_peche_site==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerunite_peche_site()" style="width:10%;">
										Supprimer
									</md-button>
								</div>
								<table class="dataTable row-border hover" datatable="ng"
				                  dt-options="vm.dtOptions">
				                  <thead>
				                    <tr>
				                      <th class="secondary-text" ng-repeat="di in ::vm.unite_peche_site_column">
				                        <div class="table-header">
				                            <span class="column-title">{{di.titre}}</span>
				                        </div>
				                      </th>
				                    </tr>
				                  </thead>
				                    <tbody>
				                      <tr ng-repeat="unite_peche_site in vm.allunite_peche_site"  ng-class="{selected: unite_peche_site.$selected}" ng-click="vm.selectionunite_peche_site(unite_peche_site)">
				                        <td>{{unite_peche_site.unite_peche.libelle}}</td>
				                        <td>{{unite_peche_site.type_canoe.nom}}</td>
				                        <td>{{unite_peche_site.type_engin.libelle}}</td>
				                        <td>{{unite_peche_site.nbr_echantillon}}</td>
				                      </tr>
				                    </tbody>
				                </table>	
	                       	</md-tab-body>	
	                    </md-tab>	
	<!--/STEP3 unite_peche-->                    		
					</md-tabs>         
	                <div class="navigation" flex layout="row" layout-align="center center">
	                    <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
	                               ng-disabled="msWizard.isFirstStep()">
	                        Précédent
	                    </md-button>
	                    <div class="steps">
	                        <span ng-repeat="form in vm.step"
	                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
	                    </div>
	                    <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
	                               ng-hide="msWizard.isLastStep()"
	                               ng-disabled="msWizard.selectedIndex==2 ||vm.step1==false" >

	                        Suivant
	                    </md-button>
	                </div>
	            </ms-form-wizard>
	        </div>
<!--/STEP-->		        
		</div>
    </div>
</div>
