  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Type engin</span>
            </div>

            <div class="title">Type engin</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
            <!-- LISTE TABLE -->
    <div class="content"layout="column">
    <div class="form-wrapper">
    <div style="widht:100%;">    
        <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
              Nouveau
        </md-button>
        <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
              Modifier
        </md-button>
        <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
              Supprimer
        </md-button>
    </div> 
     <div style="clear:both;"></div> 
     <!-- BASIC FORM --> 
     <md-tabs  md-dynamic-height ng-show="vm.affichageMasque==1" >
        <md-tab label="Ajout Type engin">
            <md-tab-body>
              <form name="type_enginform" class="md-inline-form" novalidate >
                <div layout="column" layout-gt-xs="row">
                  <input type="hidden" ng-model="vm.type_engin.id">
                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="code" ng-model="vm.type_engin.code"
                        placeholder="Code" ng-init="vm.type_engin.code=''"
                        required>
                        <div ng-messages="type_enginform.code.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Code obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="libelle" ng-model="vm.type_engin.libelle"
                        placeholder="type_engin " ng-init="vm.type_engin.libelle=''"
                        required>
                        <div ng-messages="type_enginform.libelle.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Libelle obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>

                </div>
                <div>
                 <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                      ng-disabled="type_enginform.$invalid" ng-click="vm.ajout(vm.type_engin,0)">
                      Enregistrer
                </md-button>
                <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                  Annuler
                </md-button>
                </div>
              </form>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <!-- / BASIC FORM -->

    <md-tabs md-dynamic-height ng-show="vm.table==1">
        <md-tab label="Listes des Type engin">
         <table class="dataTable row-border hover" datatable="ng"
              dt-options="vm.dtOptions">
          <thead>
            <tr>
              <th>ID</th>
              <th>CODE</th>
              <th>LIBELLE</th>
            </tr>
          </thead>
            <tbody>
                <tr ng-repeat="type_engin in vm.alltype_engin" ng-class="{selected: type_engin.$selected}" ng-click="vm.selection(type_engin)">
                  <td>{{type_engin.id}}</td>
                  <td>{{type_engin.code}}</td>
                  <td>{{type_engin.libelle}}</td>
                </tr>
            </tbody>
           
          </table>
        </md-tab>
    </md-tabs>


    </div>
    </div>
    <!-- / CONTENT -->
  </div>
