<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Enquêteur</span>
            </div>

            <div class="title">Enquêteur</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <!-- LISTE TABLE -->
    <div class="content"layout="column">
      <div class="form-wrapper">
        <div class="white-bg md-whiteframe-4dp">
          <md-tabs md-dynamic-height>
            <md-tab label="Liste Enquêteur">

                <div style="widht:100%;">
                  <md-progress-circular ng-If="vm.loadingProgress==true" class=" md-raised md-accent" md-mode="indeterminate" md-diameter="55" style="float: left;">
                  </md-progress-circular>    
                  <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
                      Nouveau
                  </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonModif==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
                      Modifier
                  </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
                      Supprimer
                  </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonfiche_suivi==1" class="md-raised md-accent" aria-label="Rapport" ng-click="vm.masquefiche_suivi()" style="width:10%;">
                      Fiche suivi
                  </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonrapport==1" class="md-raised md-accent" aria-label="Rapport" ng-click="vm.masquerapport()" style="width:10%;">
                      Rapport
                  </md-button>
                </div>

      <!--Debut masque enqueteur-->
                <div ng-show="vm.affichageMasque==1">
                    <form name="enqueteurform" class="md-inline-form"  novalidate>
                      <div layout="column" layout-gt-xs="row" flex>
                        <input type="hidden" ng-model="vm.enqueteur.id"></input>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="nom" ng-model="vm.enqueteur.nom"
                              placeholder="Nom" ng-init="vm.enqueteur.nom=''"
                              required>
                              <div ng-messages="enqueteurform.nom.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>nom obligatoire.</span>
                                </div>
                              </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="prenom" ng-model="vm.enqueteur.prenom"
                              placeholder="Prenom " ng-init="vm.enqueteur.prenom=''"
                              required>
                              <div ng-messages="enqueteurform.prenom.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>Prenom obligatoire.</span>
                                </div>
                              </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="telephone" ng-model="vm.enqueteur.telephone"
                              placeholder="Téléphone " ng-init="vm.enqueteur.telephone=''"
                              required ng-pattern="/^[0-9]{10}$/">
                              <div ng-messages="enqueteurform.telephone.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>Téléphone obligatoire.</span>
                                </div>
                                <div ng-message="pattern"><span>Saisie invalide,Le numero doit être 10 chiffres</span></div>
                              </div>
                        </md-input-container>
                      </div>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                          ng-disabled="enqueteurform.$invalid " ng-click="vm.ajout(vm.enqueteur,0)">
                          Enregistrer
                      </md-button>
                      <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                        Annuler
                      </md-button>
                    </form>
                    <md-divider ></md-divider>
                  </div>
   <!--/Fin masque enqueteur-->

   <!--Debut masque fiche de suivi-->
                  <div ng-show="vm.affichageMasqueFiche_suivi==1">               
                    <form name="fiche_suiviform" class="md-inline-form"  novalidate>
                      <div layout="column" layout-gt-xs="row">
                          <md-input-container flex="100" flex-gt-xs="10">
                            <label>Année</label>
                            <md-select ng-model="vm.filtre.annee" required>
                                <md-option ng-repeat="annee in vm.annees" value="{{annee}}" > {{annee}}
                                </md-option>
                            </md-select>
                          </md-input-container>
                          
                          <md-input-container flex="100" flex-gt-xs="33">
                            <label>Mois</label>
                            <md-select ng-model="vm.filtre.mois" required>
                              <md-option ng-repeat="mois in vm.mois" value="{{mois.val}}" >  {{mois.titre}}
                              </md-option>

                            </md-select>
                            </md-input-container>
                            <md-input-container flex="100" flex-gt-xs="33">
                            <label>Unite de peche</label>
                            <md-select ng-model="vm.filtre.unite_peche">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="unite_peche in vm.alldata" value="{{unite_peche.id}}" >{{unite_peche.libelle}}
                              </md-option>

                            </md-select>

                          </md-input-container>
                      </div>

                      <md-button type="submit" class="md-raised md-accent" aria-label="Export excel" ng-disabled="fiche_suiviform.$invalid " ng-click="vm.creefiche_suivi(vm.filtre)">Export excel
                      </md-button>
                      <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiche_suivi()"> Annuler
                      </md-button>
                  </form>
                  <md-divider ></md-divider>
                </div>
    <!--/Fin masque fiche de suivi-->
    
    <!--Debut masque rapport-->
                <div ng-show="vm.affichageMasqueRapport==1">
                  <form name="rapportform" class="md-inline-form"  novalidate>
                    <div layout="column" layout-gt-xs="row">
                       <md-input-container flex="100" flex-gt-xs="33">                       
                        <input type="text" name="nom_agent" ng-model="vm.selectedItem.nom"
                          placeholder="Noms des agents " disabled>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="num_contrat" ng-model="vm.rapport.num_contrat"
                          placeholder="numero contrat ">
                        </md-input-container>
                        <!--md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="nom_village" ng-model="vm.rapport.nom_village"
                          placeholder="Nom du village ">
                        </md-input-container-->
                    </div>                      
                      <div layout="column" layout-gt-xs="row">
                        <md-input-container>
                            <span>Export donnée de la période du</span>
                        </md-input-container>
                        <md-datepicker ng-model="vm.rapport.date_debut"  md-max-date="vm.rapport.date_fin" md-placeholder="Enter date de debut" required>                     
                        </md-datepicker>
                        <md-input-container>
                            <span>&nbsp &nbsp au &nbsp &nbsp</span>
                        </md-input-container>
                        <md-datepicker ng-model="vm.rapport.date_fin" md-placeholder="Enter date de fin"
                        md-min-date="vm.rapport.date_debut" md-max-date="vm.now_date" ng-disabled="!vm.rapport.date_debut" required>                        
                        </md-datepicker>
                      </div><br>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Annuler" ng-click="vm.creerrapportagent(vm.rapport)" ng-disabled="rapportform.$invalid "> Export excel
                      </md-button> 
                      <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerrapport()" > Annuler
                      </md-button>  
                   
                  </form>
                  <md-divider ></md-divider>
                </div> <br>
    <!--/Fin masque rapport-->

                <table class="dataTable row-border hover" datatable="ng"
                  dt-options="vm.dtOptions">
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="di in ::vm.enqueteur_column">
                        <div class="table-header">
                            <span class="column-title">{{di.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr ng-repeat="enqueteur in vm.allenqueteur"  ng-class="{selected: enqueteur.$selected}" ng-click="vm.selection(enqueteur)">
                        <td>{{enqueteur.nom}}</td>
                        <td>{{enqueteur.prenom}}</td>
                        <td>{{enqueteur.telephone}}</td>
                      </tr>
                    </tbody>
                </table>
              </md-tab>
          </md-tabs>
        </div>  
    <!-- / LISTE TABLE -->

    <!-- BASIC FORM -->

      <!-- / BASIC FORM -->
      </div>
    </div>
<!-- / CONTENT -->

  </div>
