#forms {

    .content {

        .form-wrapper {
            md-tabs{
                > md-tabs-wrapper {
                   
                        
                    }
                    md-ink-bar{
                        height:1px;
                    }
                }

        }
		
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}