<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
       
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">S.I.P</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;">Pêche thonière Etranger</span>
            </div>

            <div class="title">Pêche thonière Etranger</div>
        </div>
    </div>		
    <div class="content" layout="column">
        <div class="form-wrapper">
            <md-progress-circular ng-if="vm.affiche_load" class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
			<div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
			  Chargement,veuillez patienter s'il vous plait ...
			</div>
            <div style="clear:both;"></div>
            <md-tabs md-dynamic-height>
                <md-tab label="PECHE THONIERE ETRANGER">
                    <md-tab-body>
 						<form name="filtrepardateform" class="md-inline-form" novalidate  ng-show="vm.afficher_table">
                            <div layout="column" layout-gt-xs="row">
								<div style="margin-top:23px !important;margin-right:20px !important;font-size:15px !important;font-weight:bold;float:left;display:inline-block;">
									<label>FILTRE  :</label>
								</div>
								<div style="margin-top: 14px !important; font-size: 13px !important;float:left;display:inline-block;">
									<label>Date départ  :</label>
								<md-datepicker  ng-model="vm.filtre.date_depart" md-placeholder="Date départ" md-max-date="vm.date_now" ng-change="vm.modifierDatedepart()" required>                       
								</md-datepicker>
								</div>
								<div style="margin-top: 14px !important; font-size: 13px !important;float:left;display:inline-block;">
									<label>Date d'arrivée  :</label>
								<md-datepicker  ng-model="vm.filtre.date_arrive" md-placeholder="Date d'arrivée" md-max-date="vm.date_now" ng-change="vm.modifierDatearrive()" required>                       
								</md-datepicker>
								</div>
								 <md-button type="submit" class="md-raised md-accent" aria-label="Filtrer" style="width:10%;margin-left:6px;"
									  ng-disabled="filtrepardateform.$invalid || vm.affiche_load" ng-click="vm.Filtrer()">
									  Actualiser
								</md-button>
							</div>
						</form>	
						<div style="clear:both;"></div>    
                        <div style="widht:100%;" ng-if="vm.afficher_table">    
                                    <md-button type="submit"class="md-raised custum_button_new" aria-label="Nouveau" ng-click="vm.ajout_col_peche_thoniere_etranger()" style="width:10%;"><md-icon md-font-icon="icon-plus" class="s16 center" style="color: white;"></md-icon>
                                      Nouveau
                                    </md-button>
                                    <md-button type="submit" class="md-raised custum_button" ng-if="vm.selected_peche_thoniere_etranger.id" aria-label="Modifier" ng-click="vm.modifier_peche_thoniere_etranger()" style="width:10%;"><md-icon md-font-icon="icon-table-edit" class="s16" style="color: white;"></md-icon>
                                      Modifier
                                    </md-button>
                                    <md-button type="submit" class="md-raised custum_button_del" ng-if="vm.selected_peche_thoniere_etranger.id" aria-label="Supprimer" ng-click="vm.supprimer_peche_thoniere_etranger()" style="width:10%;">
                                        <md-icon md-font-icon="icon-close-circle-outline" class="s16" style="color: white;"></md-icon>
                                      Supprimer
                                    </md-button>
                        </div>  

                        <!--FORM LISTES PECHE THONIERE ETRANGER-->
                            <div ng-show="vm.affichage_masque_peche_thoniere_etranger">
                      
                                <form name="form_peche_thoniere_etranger" class="md-inline-form" novalidate >

                                    <div layout="column" layout-gt-xs="row" flex>
                                        <md-input-container flex="100" flex-gt-xs="33">
                                            <label>Navire</label>
                                            <md-select ng-model="vm.col_peche_thoniere_etranger.id_navire" name="id_navire" ng-change="vm.modifierNavire(vm.col_peche_thoniere_etranger)" required>
                                                <md-option ng-repeat="navire in vm.all_navire" value="{{navire.id}}">
                                                    {{navire.immatricule}} / {{navire.nom_navire}}
                                                </md-option>
                                                
                                            </md-select>
                                            <div ng-messages="form_peche_thoniere_etranger.id_navire.$error"
                                                  role="alert">
                                                  <div ng-message="required">
                                                    <span>Navire Obligatoire.</span>
                                                  </div>
                                                </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="33">
                                          <input type="text" name="numfp" ng-model="vm.col_peche_thoniere_etranger.numfp"
                                            placeholder="N° FP " ng-init="vm.col_peche_thoniere_etranger.numfp=''"
                                            required>
                                            <div ng-messages="form_peche_thoniere_etranger.numfp.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>N° FP obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="33">
                                          <input type="text" name="nom_capitaine" ng-model="vm.col_peche_thoniere_etranger.nom_capitaine"
                                            placeholder="Nom Capitaine" ng-init="vm.col_peche_thoniere_etranger.nom_capitaine=''"
                                             required>
                                            <div ng-messages="form_peche_thoniere_etranger.nom_capitaine.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nom Capitaine obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>

                                    </div>

                                    <div layout="column" layout-gt-xs="row" flex>
                                        <md-input-container flex="100" flex-gt-xs="15">
                                          <input type="number" name="nbr_equipage" ng-model="vm.col_peche_thoniere_etranger.nbr_equipage"
                                            placeholder="Nombre équipage" ng-init="vm.col_peche_thoniere_etranger.nbr_equipage=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.nbr_equipage.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nombre équipage obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <div style="margin-top: 14px !important; font-size: 13px !important;">
                                            <label>Date rapport  :</label>
                                        <md-datepicker  ng-model="vm.col_peche_thoniere_etranger.date_rapport" md-placeholder="Date rapport" md-max-date="vm.date_now" required>                       
                                        </md-datepicker>
                                        </div>
                                        <md-input-container flex="100" flex-gt-xs="15">
                                          <input type="text" name="nom_declarant" ng-model="vm.col_peche_thoniere_etranger.nom_declarant"
                                            placeholder="Nom Déclarant" ng-init="vm.col_peche_thoniere_etranger.nom_declarant=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.nom_declarant.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nom Déclarant obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <div style="margin-top: 14px !important; font-size: 13px !important;">
                                            <label>Date départ  :</label>
                                        <md-datepicker  ng-model="vm.col_peche_thoniere_etranger.date_depart" md-placeholder="Date départ" md-max-date="vm.date_now" required>                       
                                        </md-datepicker>
                                        </div>
                                        <div style="margin-top: 14px !important; font-size: 13px !important;">
                                            <label>Date d'arrivée  :</label>
                                        <md-datepicker  ng-model="vm.col_peche_thoniere_etranger.date_arrive" md-placeholder="Date d'arrivée" md-max-date="vm.date_now" required>                       
                                        </md-datepicker>
                                        </div>
                                    </div>                                   
                                    <div layout="column" layout-gt-xs="row" flex>
                                        <md-input-container flex="100" flex-gt-xs="30">
                                          <input type="text" name="port" ng-model="vm.col_peche_thoniere_etranger.port"
                                            placeholder="Port" ng-init="vm.col_peche_thoniere_etranger.port=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.port.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Port obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="20">
                                          <input type="number" name="nbr_jour_en_mer" ng-model="vm.col_peche_thoniere_etranger.nbr_jour_en_mer"
                                            placeholder="Nombre jour en mer" ng-init="vm.col_peche_thoniere_etranger.nbr_jour_en_mer=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.nbr_jour_en_mer.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nombre jour en mer obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="20">
                                          <input type="number" name="nbr_peche" ng-model="vm.col_peche_thoniere_etranger.nbr_peche"
                                            placeholder="Nombre peche" ng-init="vm.col_peche_thoniere_etranger.nbr_peche=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.nbr_peche.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nombre peche obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="15">
                                          <input type="number" name="nbr_lancers" ng-model="vm.col_peche_thoniere_etranger.nbr_lancers"
                                            placeholder="Nombre lancers" ng-init="vm.col_peche_thoniere_etranger.nbr_lancers=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.nbr_lancers.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nombre lancers.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="15">
                                          <input type="number" name="num_sortie_peche" ng-model="vm.col_peche_thoniere_etranger.num_sortie_peche"
                                            placeholder="N° sortie de peche" ng-init="vm.col_peche_thoniere_etranger.num_sortie_peche=''" required>
                                            <div ng-messages="form_peche_thoniere_etranger.num_sortie_peche.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>N° sortie de peche obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" layout-gt-xs="row" flex>
                                    </div>
                                    <div>
                                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                      ng-disabled="form_peche_thoniere_etranger.$invalid || (!vm.col_peche_thoniere_etranger.nbr_equipage&&!vm.col_peche_thoniere_etranger.date_rapport&&!vm.col_peche_thoniere_etranger.nom_declarant)" ng-click="vm.save_peche_thoniere_etranger(vm.col_peche_thoniere_etranger,0)">
                                      Enregistrer
                                    </md-button>
                                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler_peche_thoniere_etranger()">
                                      Annuler
                                    </md-button>
                                    </div>
                                </form>
                            </div> 
                        <!--FORM LISTES PECHE THONIERE ETRANGER-->
                        <!--TABLE LISTES PECHE THONIERE ETRANGER-->
                            <div class="price-table style-1 md-whiteframe-1dp" layout="column" ng-if="vm.afficher_table">                                   
								<table ng-table="tableNavirepechethon" id="tableNavirepechethon" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
									<thead>
										<tr>
											<th class="secondary-text" ng-repeat="c in ::vm.entete_liste_peche_thoniere_etranger">
												<div class="table-header">
													<span class="column-title text-center">{{c.titre}}</span>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cm in vm.all_peche_thoniere_etranger"  ng-class="{selected: cm.$selected}" ng-click="vm.selection_peche_thoniere_etranger(cm)">                                       
											<td>{{cm.immatricule}} / {{cm.nom_navire}}</td>
											<td>{{cm.numfp}}</td>
											<td>{{cm.nom_capitaine}}</td>
											<td>{{cm.nbr_equipage}}</td>
											<td>{{vm.convert_to_date_html(cm.date_rapport)}}</td>
											<td>{{cm.nom_declarant}}</td>
											<td>{{vm.convert_to_date_html(cm.date_depart)}}</td>
											<td>{{vm.convert_to_date_html(cm.date_arrive)}}</td>
											<td>{{cm.port}}</td>
											<td>{{cm.nbr_jour_en_mer}}</td>
											<td>{{cm.nbr_peche}}</td>
											<td>{{cm.nbr_lancers}}</td>
											<td>{{cm.num_sortie_peche}}</td>
										</tr>
									</tbody>
								</table>
							</div>
                        <!--TABLE LISTES PECHE THONIERE ETRANGER-->
                    </md-tab-body>
                </md-tab>        
                <md-tab label="{{vm.titre_sequence_peche}}"   ng-disabled="!vm.selected_peche_thoniere_etranger.id" ng-click="vm.get_sequence_peche_thon_etranger()">
                    <md-tab-body>
						<fieldset>
							<legend>
									<b>Saisie séquence pêche</b>
								<div class="border-right" ng-disabled="!vm.selected_peche_thoniere_etranger.id" ng-show="!vm.selected_sequence_peche_thoniere_etranger.$edit">
									<md-button class="md-icon-button" aria-label="add Type acteur" ng-click="vm.ajout_sequence_peche_thon_etranger()">
										<md-icon md-font-icon="icon-plus-box"></md-icon>
										<md-tooltip><span>Ajouter</span></md-tooltip>
									</md-button>
								</div> 
							</legend>
							<!--TABLE LISTES SEQUENCE-->
                            <table ng-table="tablesequence_peche_thon_etranger" id="tablesequence_peche_thon_etranger" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.entete_liste_sequence_peche_thon_etranger">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c.titre}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="seq in vm.all_sequence"  ng-class="{selected: seq.$selected}" ng-click="vm.selection_sequence_peche_thon_etranger(seq)">                                       
										<td style="width:15%;">
											<span ng-if="seq.$edit">
												<md-input-container style="width:100%;">
													<label>N° séquence</label>
													<input name="numseqpeche" type="text" ng-model="seq.numseqpeche"/>
												</md-input-container>	
											</span>
											<span ng-if="!seq.$edit">{{seq.numseqpeche}}</span>
										</td>
										<td style="width:15%;">
											<span ng-if="seq.$edit">
												<md-input-container style="width:100%;">
													<label>N° FP</label>
													<input name="numfp" type="text" ng-model="seq.numfp"/>
												</md-input-container>	
											</span>
											<span ng-if="!seq.$edit">{{seq.numfp}}</span>
										</td>
										<td style="width:20%;">
											<span ng-if="!seq.$edit">
												<md-button class="md-icon-button" aria-label="Modifier séquence peche" ng-click="vm.modif_sequence_peche_thon_etranger(seq)">
												  <md-icon md-font-icon="icon-table-edit"></md-icon>
												  <md-tooltip><span>Modifier</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="!seq.$edit">	
												<md-button class="md-icon-button" aria-label="Supprimer séquence peche" ng-click="vm.supprimer_sequence_peche_thon_etranger(seq)">
												  <md-icon md-font-icon="icon-delete"></md-icon>
												  <md-tooltip><span>Supprimer</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="seq.$edit">	
												<md-button class="md-icon-button" aria-label="Annuler modification" ng-click="vm.annuler_sequence_peche_thon_etranger(seq)">
												  <md-icon md-font-icon="icon-cancel"></md-icon>
												  <md-tooltip><span>Annuler</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="seq.$edit && seq.numseqpeche >'' && seq.numfp > ''">	
												<md-button class="md-icon-button" aria-label="Enregistrer séquence peche" ng-click="vm.save_in_bdd_sequence_peche_thon_etranger(seq,0)">
												  <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
												  <md-tooltip><span>Enregistrer</span></md-tooltip>
												</md-button>
											</span>	
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        <!--TABLE LISTES SEQUENCE-->
						</fieldset>
                    </md-tab-body>
                </md-tab>   
                <md-tab label="Séquence pêche thonière pi: (séquence {{vm.selected_sequence_peche_thoniere_etranger.numseqpeche}})" ng-disabled="!vm.selected_sequence_peche_thoniere_etranger.id && !vm.detail_pi_charge">
                    <md-tab-body>
                        <div style="widht:100%;" ng-if="vm.afficher_table_pi">    
                                    <md-button type="submit"class="md-raised custum_button_new" aria-label="Nouveau" ng-click="vm.ajout_col_peche_thoniere_pi_etranger()" style="width:10%;"><md-icon md-font-icon="icon-plus" class="s16 center" style="color: white;"></md-icon>
                                      Nouveau
                                    </md-button>
                                    <md-button type="submit" class="md-raised custum_button" ng-if="vm.selected_sequence_peche_thoniere_etranger_pi.id" aria-label="Modifier" ng-click="vm.modifier_peche_thoniere_pi_etranger()" style="width:10%;"><md-icon md-font-icon="icon-table-edit" class="s16" style="color: white;"></md-icon>
                                      Modifier
                                    </md-button>
                                    <md-button type="submit" class="md-raised custum_button_del" ng-if="vm.selected_sequence_peche_thoniere_etranger_pi.id" aria-label="Supprimer" ng-click="vm.supprimer_peche_thoniere_pi_etranger()" style="width:10%;">
                                        <md-icon md-font-icon="icon-close-circle-outline" class="s16" style="color: white;"></md-icon>
                                      Supprimer
                                    </md-button>
                        </div>  
                        <!--FORM LISTES SEQUENCE PI PECHE THONIERE ETRANGER-->
                            <div ng-show="vm.affichage_masque_peche_thoniere_pi_etranger">
                      
                                <form name="form_peche_thoniere_pi_etranger" class="md-inline-form" novalidate >

                                    <div layout="column" layout-gt-xs="row" flex>
										<div style="margin-top: 14px !important; font-size: 13px !important;">
                                            <label>Date :</label>
											<md-datepicker  ng-model="vm.col_peche_thoniere_pi_etranger.date_pi" md-placeholder="Date pi" md-max-date="vm.date_now" required>                       
											</md-datepicker>
                                        </div>
                                        <md-input-container flex="100" flex-gt-xs="33">
                                          <input type="text" name="postlatitude" ng-model="vm.col_peche_thoniere_pi_etranger.postlatitude"
                                            placeholder="Latitude" ng-init="vm.col_peche_thoniere_pi_etranger.postlatitude=''"
                                             required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.postlatitude.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Latitude obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="33">
                                          <input type="text" name="postlongitude" ng-model="vm.col_peche_thoniere_pi_etranger.postlongitude"
                                            placeholder="Longitude" ng-init="vm.col_peche_thoniere_pi_etranger.postlongitude=''"
                                             required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.postlongitude.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Longitude obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" layout-gt-xs="row" flex>
                                        <md-input-container flex="100" flex-gt-xs="25">
                                          <input type="number" name="temperature" ng-model="vm.col_peche_thoniere_pi_etranger.temperature"
                                            placeholder="Température" ng-init="vm.col_peche_thoniere_pi_etranger.temperature=''" required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.temperature.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Température obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="25">
                                          <input type="number" name="nb_ham_util" ng-model="vm.col_peche_thoniere_pi_etranger.nb_ham_util"
                                            placeholder="Nb ham utilisé" ng-init="vm.col_peche_thoniere_pi_etranger.nb_ham_util=''" required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.nb_ham_util.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Nb ham utilisé obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="25">
                                          <input type="number" name="total_estime" ng-model="vm.col_peche_thoniere_pi_etranger.total_estime"
                                            placeholder="Total estimé(Kg)" ng-init="vm.col_peche_thoniere_pi_etranger.total_estime=''" required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.total_estime.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Total estimé obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex="100" flex-gt-xs="25">
                                          <input type="number" name="total_debarque" ng-model="vm.col_peche_thoniere_pi_etranger.total_debarque"
                                            placeholder="Total débarqué(Kg)" ng-init="vm.col_peche_thoniere_pi_etranger.total_debarque=''" required>
                                            <div ng-messages="form_peche_thoniere_pi_etranger.total_debarque.$error"
                                              role="alert">
                                              <div ng-message="required">
                                                <span>Total débarqué obligatoire.</span>
                                              </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div>
										<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
										ng-disabled="form_peche_thoniere_pi_etranger.$invalid || (!vm.col_peche_thoniere_pi_etranger.date_pi&&!vm.col_peche_thoniere_pi_etranger.temperature&&!vm.col_peche_thoniere_pi_etranger.postlatitude&&!vm.col_peche_thoniere_pi_etranger.postlongitude)" ng-click="vm.save_sequence_peche_thoniere_pi_etranger(vm.col_peche_thoniere_pi_etranger,0)">
										Enregistrer
										</md-button>
										<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler_peche_thoniere_pi_etranger()">
										Annuler
										</md-button>
                                    </div>
                                </form>
                            </div> 
                        <!--FORM LISTES SEQUENCE PI PECHE THONIERE ETRANGER-->
                        <!--TABLE LISTES SEQUENCE PI PECHE THONIERE ETRANGER-->
                            <div class="price-table style-1 md-whiteframe-1dp" layout="column" ng-if="vm.afficher_table_pi">                                   
								<table ng-table="tablePechethonierepi" id="tablePechethonierepi" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
									<thead>
										<tr>
											<th class="secondary-text" ng-repeat="c in ::vm.entete_liste_peche_thoniere_pi_etranger">
												<div class="table-header">
													<span class="column-title text-center">{{c.titre}}</span>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="seqpi in vm.all_sequence_pi"  ng-class="{selected: seqpi.$selected}" ng-click="vm.selection_peche_thoniere_pi_etranger(seqpi)">                                       
											<td>{{vm.convert_to_date_html(seqpi.date_pi)}}</td>
											<!--td>{{seqpi.mois}}</td>
											<td>{{seqpi.jour}}</td-->
											<td>{{seqpi.postlatitude}}</td>
											<td>{{seqpi.postlongitude}}</td>
											<td>{{seqpi.temperature}}</td>
											<td>{{seqpi.nb_ham_util}}</td>
											<td>{{seqpi.total_estime}}</td>
											<td>{{seqpi.total_debarque}}</td>
										</tr>
									</tbody>
								</table>
							</div>
                        <!--TABLE LISTES SEQUENCE PI PECHE THONIERE ETRANGER-->
                    </md-tab-body>
                </md-tab>
                <md-tab label="Séquence capture thon : (séquence {{vm.selected_sequence_peche_thoniere_etranger.numseqpeche}})" ng-disabled="!vm.selected_sequence_peche_thoniere_etranger.id && !vm.detail_capture_charge">
                    <md-tab-body>
						<fieldset>
							<legend>
									<b>Saisie séquence captures thon</b> 
								<div class="border-right" ng-disabled="!vm.selected_sequence_peche_thoniere_etranger.id" ng-show="!vm.selected_sequence_peche_thoniere_etranger_capture.$edit">
									<md-button class="md-icon-button" aria-label="add Type acteur" ng-click="vm.ajout_sequence_peche_thon_etranger_capture()">
										<md-icon md-font-icon="icon-plus-box"></md-icon>
										<md-tooltip><span>Ajouter</span></md-tooltip>
									</md-button>
								</div> 
							</legend>
							<!--TABLE LISTES SEQUENCE CAPTURE-->
                            <table ng-table="tablesequence_peche_capture_thon_etranger" id="tablesequence_peche_capture_thon_etranger" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.entete_liste_sequence_peche_thon_etranger_capture">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c.titre}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="seq in vm.all_sequence_capture"  ng-class="{selected: seq.$selected}" ng-click="vm.selection_sequence_peche_thon_etranger_capture(seq)">                                       
										<td style="width:15%;">
											<span ng-if="seq.$edit">
												<md-input-container style="width:100%;">
													<label>Espèce</label>
													<md-select ng-model="seq.id_espece"  ng-change="vm.modifierEspece(seq)">													  
													  <md-option value="">&nbsp;</md-option>
													  <md-option ng-repeat="esp in vm.all_espece" value="{{esp.id}}" >
														{{esp.nom}}
													  </md-option>
													</md-select>
												</md-input-container>	
											</span>
											<span ng-if="!seq.$edit">{{seq.espece}}</span>
										</td>
										<td style="width:15%;">
											<span ng-if="seq.$edit">
												<md-input-container style="width:100%;">
													<label>Quantité</label>
													<input name="qte" type="number" ng-model="seq.qte"/>
												</md-input-container>	
											</span>
											<span ng-if="!seq.$edit">{{seq.qte}}</span>
										</td>
										<td style="width:15%;">
											<span ng-if="seq.$edit">
												<md-input-container style="width:100%;">
													<label>Nombre</label>
													<input name="nbre" type="number" ng-model="seq.nbre"/>
												</md-input-container>	
											</span>
											<span ng-if="!seq.$edit">{{seq.nbre}}</span>
										</td>
										<td style="width:20%;">
											<span ng-if="!seq.$edit">
												<md-button class="md-icon-button" aria-label="Modifier séquence peche" ng-click="vm.modif_sequence_peche_thon_etranger_capture(seq)">
												  <md-icon md-font-icon="icon-table-edit"></md-icon>
												  <md-tooltip><span>Modifier</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="!seq.$edit">	
												<md-button class="md-icon-button" aria-label="Supprimer séquence peche" ng-click="vm.supprimer_sequence_peche_thon_etranger_capture(seq)">
												  <md-icon md-font-icon="icon-delete"></md-icon>
												  <md-tooltip><span>Supprimer</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="seq.$edit">	
												<md-button class="md-icon-button" aria-label="Annuler modification" ng-click="vm.annuler_sequence_peche_thon_etranger_capture(seq)">
												  <md-icon md-font-icon="icon-cancel"></md-icon>
												  <md-tooltip><span>Annuler</span></md-tooltip>
												</md-button>
											</span>	
											<span ng-if="seq.$edit && seq.qte >0 && seq.nbre > 0">	
												<md-button class="md-icon-button" aria-label="Enregistrer séquence peche" ng-click="vm.save_in_bdd_sequence_peche_thon_etranger_capture(seq,0)">
												  <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
												  <md-tooltip><span>Enregistrer</span></md-tooltip>
												</md-button>
											</span>	
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        <!--TABLE LISTES SEQUENCE CAPTURE-->
						</fieldset>
                    </md-tab-body>
                </md-tab>   
                <md-tab label="REPORTING">
                    <md-tab-body>
 						<form name="filtreparanneeform" class="md-inline-form" novalidate  ng-show="vm.afficher_table">
                            <div layout="column" layout-gt-xs="row">
									<div style="margin-top:23px !important;margin-right:20px !important;font-size:15px !important;font-weight:bold;float:left;display:inline-block;">
										<label>FILTRE  :</label>
									</div>
									<md-input-container flex="100" flex-gt-xs="35">
									  <label>Choix</label>
										<md-select ng-model="vm.filtre.menu" name="menu" ng-change="vm.Reinitialiser_donnees()" required>
										  <md-option  value="menu_13_1">Req 13.1 Quantité thon étranger par espèces</md-option>
										  <md-option  value="menu_13_2">Req 13.2 Nombre espèces thon étranger</md-option>
										  <md-option  value="menu_13_3">Req 13.3 Quantité thon étranger par espèces mois</md-option>
										  <md-option  value="menu_13_4">Req 13.4 Nombre espèces thon étranger par mois</md-option>
										  <md-option  value="menu_13_5">Req 13.5 Quantité thon étranger par navire mois</md-option>
										  <md-option  value="menu_13_6">Req 13.6 Quantité thon étranger par espèces navire</md-option>
										  <md-option  value="menu_13_7">Req 13.7 Quantité thon étranger par société</md-option>
										  <md-option  value="menu_13_8">Req 13.8 Nombre hamecon utilisé par mois</md-option>
										  <md-option  value="menu_13_9">Req 13.9 Nombre jour de mer thon étranger</md-option>
										  <md-option  value="menu_13_20">Req 13.20 Nombre jour de peche thon étranger</md-option>
										  <md-option  value="menu_13_21">Req 13.21 Quantité éstimée/débarquée thon étranger</md-option>
										  <md-option  value="menu_13_29">Req 13.29 Quantité par position espèces thon étranger par mois</md-option>
										</md-select>
										<div ng-messages="filtreparanneeform.menu.$error"
											  role="alert">
											  <div ng-message="required">
												<span>Choix Obligatoire.</span>
											  </div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="10">
									  <label>Année début</label>
										<md-select ng-model="vm.filtre.annee_debut" name="annee_debut" required>
										  <md-option  value=""></md-option>
										  <md-option ng-repeat="a in vm.annees" value="{{a.annee}}" >
											{{a.annee}}
										  </md-option>

										</md-select>
										<div ng-messages="filtreparanneeform.annee_debut.$error"
											  role="alert">
											  <div ng-message="required">
												<span>Année début Obligatoire.</span>
											  </div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="10">
									  <label>Année fin</label>
										<md-select ng-model="vm.filtre.annee_fin" name="annee_fin" required>
										  <md-option  value=""></md-option>
										  <md-option ng-repeat="a in vm.annees" value="{{a.annee}}" >
											{{a.annee}}
										  </md-option>

										</md-select>
										<div ng-messages="filtreparanneeform.annee_fin.$error"
											  role="alert">
											  <div ng-message="required">
												<span>Année fin Obligatoire.</span>
											  </div>
										</div>
									</md-input-container>
									 <md-button type="submit" class="md-raised md-accent" aria-label="Filtrer" style="width:15%;margin-left:6px;height:50%;margin-top:1%;"
										  ng-disabled="filtreparanneeform.$invalid || vm.affiche_load" ng-click="vm.Filtrer_Reporting('non')">
										  Actualiser
									</md-button>
									 <md-button type="submit" class="md-raised md-accent" aria-label="Filtrer" style="width:15%;margin-left:6px;height:50%;margin-top:1%;"
										  ng-disabled="filtreparanneeform.$invalid || vm.affiche_load" ng-click="vm.Filtrer_Reporting('oui')">
										  Export Excel
									</md-button>
							</div>
						</form>	
						<div style="clear:both;"></div>    
						<div class="price-table style-1 md-whiteframe-1dp" layout="column">
							<table ng-table="tableMenuThonEtranger" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
								<thead>
									<tr>
										<th class="secondary-text" ng-repeat="c in ::vm.entete_etat">
											<div class="table-header">
												<span class="column-title text-center">{{c}}</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cm in vm.donnees_reporting"  ng-class="{selected: cm.$selected}" ng-click="vm.selection_detail_dynamique(cm)">                                       
										<td ng-repeat="c in ::vm.entete_etat"><span ng-show="cm[c]">{{vm.replace_point(cm[c])}}</span></td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</md-tab-body>
				</md-tab>									
            </md-tabs>
        </div>
    </div>
</div>