#forms {

    .content {

        .form-wrapper {
            .ongletdata{

                .md-tabs{
                    margin:auto;
                }
         .md-tab.md-active{
                //background-color: rgb(70,181,214) !important;
                color: black;
                font-weight: bold;
                #icon {
                    height:24px;
                    width:25px;
                    Background-color: rgb(32,138,190);
                    float:left;
                    font-family: Arial;
                    font-size: 17px;font-weight: bold;
                    color: white;
                    border-radius: 50%;
                }
                }
        .md-tab{
                //background-color: rgb(83,215,255) !important;
                color: rgb(219,219,219);
                font-weight: bold;
               //-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
               #icon {
                    height:24px;
                    width:25px;
                    Background-color: rgb(219,219,219);
                    float:left;
                    font-family: Arial;
                    font-size: 17px;font-weight: bold;
                    color: white;
                    border-radius: 50%;
                    
                }
                }
            }

        }
		
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}