  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Type canoe</span>
            </div>

            <div class="title">Type canoe</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
            <!-- LISTE TABLE -->
    <div class="content"layout="column">
    <div class="form-wrapper">
    <div style="widht:100%;">    
        <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
              Nouveau
        </md-button>
        <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
              Modifier
        </md-button>
        <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
              Supprimer
        </md-button>
    </div> 
     <div style="clear:both;"></div> 
     <!-- BASIC FORM --> 
     <div class="white-bg md-whiteframe-4dp"> 
         <md-tabs  md-dynamic-height ng-show="vm.affichageMasque==1" md-stretch-tabs="always">
            <md-tab label="Ajout Type canoe">
                <md-tab-body>
                </br>
                  <form name="type_canoeform" class="md-inline-form" novalidate >
                    <div layout="column" layout-gt-xs="row">
                      <input type="hidden" ng-model="vm.type_canoe.id">
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="code" ng-model="vm.type_canoe.code"
                            placeholder="Code" ng-init="vm.type_canoe.code=''"
                            required>
                            <div ng-messages="type_canoeform.code.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>Code obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="nom" ng-model="vm.type_canoe.nom"
                            placeholder="Nom " ng-init="vm.type_canoe.nom=''"
                            required>
                            <div ng-messages="type_canoeform.nom.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>Nom obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                         <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="url_image" ng-model="vm.type_canoe.url_image"
                            placeholder="Image" ng-init="vm.type_canoe.url_image=''"
                            disabled required>
                            <div ng-messages="type_canoeform.url_image.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>File obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="file" name="myFile" aria-label="upload" custom-on-change="uploadFile"  accept="image/*" ng-model="url_image" id="fileid">
                            <div ng-messages="type_canoeform.myFile.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>File obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>

                    </div>
                    <div>
                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                          ng-disabled="type_canoeform.$invalid" ng-click="vm.ajout(vm.type_canoe,0)">
                          Enregistrer
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                      Annuler
                    </md-button>
                    </div>
                  </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div> 
    <!-- / BASIC FORM -->
    <div><p></p></div>
    <div class="white-bg md-whiteframe-4dp"> 
        <md-tabs md-dynamic-height>
           <md-tab>              
              <md-tab-label>
              Liste type canoë 
              </md-tab-label>
              <md-tab-body>
                <div style="height: 500px; overflow-y: scroll;" id="">
                  <div class="price-tables" flex layout="row" layout-wrap style="padding:20px;">
                    <div class="price-table style-1 md-whiteframe-1dp item" layout="column" ng-repeat="type_canoe in vm.alltype_canoe" ng-class="{selected: type_canoe.$selected}" ng-click="vm.selection(type_canoe)" style="width:200px;" >
                        <div class=" terms package-type md-primary-bg" style="padding:8px;">
                          
                            <div class="term" style="font-size: 11px;"><span class="text-bold"style="font-size: 12px; ">Code :</span > {{type_canoe.code}}</div>
                           
                            <div class="term" style="font-size: 11px;"><span class="text-bold"style="font-size: 12px">Nom local :</span> {{type_canoe.nom}}</div>
                            

                        </div>
                        
                        <div class="price" layout="row" layout-align="center start" style="padding:0">
                            <div class="currency" style="padding: 0"><img src="{{vm.Urlimage}}{{type_canoe.url_image}}"style="width:200px;height:90px;" id="image"></div>
                            
                        </div>

                        

                        <!--div class="terms" layout="column">
                            <div class="term"><span class="text-bold">Code :</span> {{espece.code}}</div>
                            <div class="term"><span class="text-bold">Nom local :</span> {{espece.nom_local}}</div>
                            <div class="term"><span class="text-bold">Nom scientifique :</span> {{espece.nom_scientifique}}</div>
                        </div-->

                        <!--md-button class="cta-button md-raised md-accent">BUY NOW</md-button-->
                    </div>
                  
                </div>
                </div>
              </md-tab-body>               
            </md-tab>
            <!--md-tab label="Liste Type canoe">
             <table class="dataTable row-border hover" datatable="ng"
                  dt-options="vm.dtOptions">
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="tc in ::vm.type_canoe_column">
                        <div class="table-header">
                          <span class="column-title">{{tc.titre}}</span>
                        </div>
                  </th>
                </tr>
              </thead>
                <tbody>
                    <tr ng-repeat="type_canoe in vm.alltype_canoe" ng-class="{selected: type_canoe.$selected}" ng-click="vm.selection(type_canoe)">
                      <td>{{type_canoe.code}}</td>
                      <td>{{type_canoe.nom}}</td>
                      <td><img ng-src="{{type_canoe.url_image}}"  height="20" width="20" ></td>
                    </tr>
                </tbody>
               
              </table>
            </md-tab-->
        </md-tabs>
        </div>

    </div>
    </div>
    <!-- / CONTENT -->
  </div>
