#forms {

    .content {

        .form-wrapper {
           
                .mySelect{
                  background-color: yellow;
                  margin-left: 100px;
                  margin-top: 50px;
                }

                .mySelect md-content {
                  background: yellow;
                }

                .mySelect md-option:hover {
                  background: blue;
                }
            
        }
    
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}