<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Fiche echantillonnage capture</span>
            </div>

            <div class="title">Echantillonnage des Captures</div>
        </div>
    </div>
    <div class="content"layout="column">
<!--FORM-->		
		<div class="form-wrapper">			  
			<div style="clear:both;"></div>

<!--STEP-->	
			<div layout="row">
	        	<ms-form-wizard flex>
	                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
	     
	     <!--STEP1 FICHE ECHANTILLONNAGE CAPTURE-->               
	                    <md-tab ng-click="removeBouton()">
	                        <md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="vm.step1==false">1</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step1==true">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Fiche echantillonnage capture</span>
	                            </span>
	                        </md-tab-label>

	                       <md-tab-body ms-form-wizard-form>
	                       		<md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 1</md-button >
								<div style="widht:100%;"> 
									<md-button type="submit" ng-show="vm.afficherboutonfiltre==1" class="md-raised md-primary" aria-label="Filtre" ng-click="vm.formfiltrepardate()" style="width:10%;">
										Filtre
									</md-button>   
									<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
										Nouveau
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModif==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
										Modifier
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:13%;">
										Supprimer
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-warn" aria-label="Valider" ng-click="vm.valider()" style="width:10%;">
										Valider
									</md-button>
								</div>

		<!--FORM FICHE ECHANTILLONNAGE CAPTURE -->
		<!--FORM FILTRE PAR DATE --> 
		    			<div ng-show="vm.affichageMasqueFiltrepardate == 1">
		          
		                  <form name="filtrepardateform" class="md-inline-form" novalidate >
		                    <br>
		                    <div layout="column" layout-gt-xs="row">
		                    	<md-input-container>
		                        <span>Date du</span>
		                        </md-input-container>
		                    	<md-datepicker ng-model="vm.filtrepardate.date_debut"  md-max-date="vm.filtrepardate.date_fin" md-placeholder="Enter date de debut" required>                 		
		                    	</md-datepicker>
		                    	<md-input-container>
		                        <span>&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
		                        </md-input-container>
		                    	<md-datepicker ng-model="vm.filtrepardate.date_fin" md-placeholder="Enter date de fin"
        								md-min-date="vm.filtrepardate.date_debut" md-max-date="vm.date_now" ng-disabled="!vm.filtrepardate.date_debut" required>        								
        						</md-datepicker>
		                    </div>
		                    <div>
		                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
		                          ng-disabled="filtrepardateform.$invalid" ng-click="vm.recherchefiltrepardate(vm.filtrepardate)">
		                          Recherche
		                    </md-button>
		                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
		                      Annuler
		                    </md-button>
		                    </div>
		                  </form>
		    			</div> 
		<!--/FORM FORM FILTRE PAR DATE -->
								
						<div ng-show="vm.affichageMasque==1">						
							<form name="fiche_echantillonnage_captureform" class="md-inline-form "  novalidate>
								<!--div layout="column" layout-gt-sm="row">
									<input type="hidden" ng-model="vm.fiche_echantillonnage_capture.id">
									<md-input-container flex-gt-sm>
										<label>Enqueteur</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.enqueteur_id"  ng-change="vm.modifierenqueteur(vm.fiche_echantillonnage_capture)"  md-container-class="my">
											<md-option ng-repeat="enqueteur in vm.allenqueteur" value="{{enqueteur.id}}" >
												{{enqueteur.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<label>Site de débarquement</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.site_embarquement_id"  ng-change="vm.modifiersite_embarquement(vm.fiche_echantillonnage_capture)" ng-disabled="vm.enqueteur==false" required>
											<md-option ng-repeat="site_embarquement in vm.allsite_embarquement" value="{{site_embarquement.id}}">
												{{site_embarquement.libelle}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<label>Region</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.region_id"  ng-change="vm.modifierregion(vm.fiche_echantillonnage_capture)" disabled>
											<md-option ng-repeat="region in vm.allregion" value="{{region.id}}">
												{{region.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<label>District</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.district_id"  ng-change="vm.modifierdistrict(vm.fiche_echantillonnage_capture)" disabled>
											<md-option ng-repeat="district in vm.allcurrentdistrict" value="{{district.id}}">
												{{district.nom}}
											</md-option>
										</md-select>
									</md-input-container>
								</div-->
								<div layout="column" layout-gt-xs="row">
									<md-input-container>
										<span>Date</span>
									</md-input-container>
									<md-datepicker ng-model="vm.fiche_echantillonnage_capture.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
									</md-datepicker>
								</div>
								<div layout="column" layout-gt-sm="row">
									<input type="hidden" ng-model="vm.fiche_echantillonnage_capture.id">
									<md-input-container flex-gt-sm>
										<label>Region</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.region_id"  ng-change="vm.get_district_by_region()" ng-disabled="!vm.isADMIN" required>
											<md-option ng-repeat="region in vm.allregion" value="{{region.id}}">
												{{region.nom}}
											</md-option>
										</md-select>
										<div ng-messages="fiche_echantillonnage_captureform.region_id.$error"role="alert">
											<div ng-message="required">
												<span>Region obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<label>District</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.district_id"  ng-change="vm.get_site_by_district()" ng-disabled="!vm.fiche_echantillonnage_capture.region_id" required>
											<md-option ng-repeat="district in vm.alldistrict" value="{{district.id}}">
												{{district.nom}}
											</md-option>
										</md-select>
										<div ng-messages="fiche_echantillonnage_captureform.district_id.$error"role="alert">
											<div ng-message="required">
												<span>District obligatoire.</span>
											</div>
										</div>
									</md-input-container>

									<md-input-container flex-gt-sm>
										<label>Site de débarquement</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.site_embarquement_id"  ng-change="vm.get_enqueteur_by_site()" ng-disabled="!vm.fiche_echantillonnage_capture.district_id" required>
											<md-option ng-repeat="site_embarquement in vm.allsite_embarquement" value="{{site_embarquement.id}}">
												{{site_embarquement.libelle}}
											</md-option>
										</md-select>
										<div ng-messages="fiche_echantillonnage_captureform.site_embarquement_id.$error"role="alert">
											<div ng-message="required">
												<span>Site de débarquement obligatoire.</span>
											</div>
										</div>
									</md-input-container>

									<md-input-container flex-gt-sm>
										<label>Enqueteur</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.enqueteur_id" ng-disabled="!vm.fiche_echantillonnage_capture.district_id"  ng-change=""  md-container-class="my" required>
											<md-option ng-repeat="enqueteur in vm.allenqueteur" value="{{enqueteur.id}}" >
												{{enqueteur.nom}}
											</md-option>
										</md-select>
										<div ng-messages="fiche_echantillonnage_captureform.enqueteur_id.$error"role="alert">
											<div ng-message="required">
												<span>Enqueteur obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									
									
								</div>
									<div layout="column" layout-gt-sm="row">
									<md-input-container flex-gt-sm>
										<input type="text" name="latitude" ng-model="vm.fiche_echantillonnage_capture.latitude"
										placeholder="Latitude (Position de l'enqueteur)" ng-init="vm.fiche_echantillonnage_capture.latitude=''">
										<div ng-messages="fiche_echantillonnage_captureform.latitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Latitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<input type="text" name="longitude" ng-model="vm.fiche_echantillonnage_capture.longitude"
										placeholder="Longitude (Position de l'enqueteur)" ng-init="vm.fiche_echantillonnage_capture.longitude=''">
										<div ng-messages="fiche_echantillonnage_captureform.longitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Longitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex-gt-sm>
										<input type="text" name="altitude" ng-model="vm.fiche_echantillonnage_capture.altitude"
										placeholder="Altitude " ng-init="vm.fiche_echantillonnage_capture.altitude=''">
										<div ng-messages="fiche_echantillonnage_captureform.altitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Altitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
																		
									<!--md-datepicker name="date" ng-model="vm.fiche_echantillonnage_capture.date" md-placeholder="Date" required>										
									</md-datepicker-->									
								</div>
								<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									ng-disabled="fiche_echantillonnage_captureform.$invalid " ng-click="vm.ajout(vm.fiche_echantillonnage_capture,0,0)">
									Enregistrer
								</md-button>
								<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
									Annuler
								</md-button>
							</form>
								<md-divider ></md-divider>
			    			</div> <br>					
	<!--/FORM FICHE ECHANTILLONNAGE CAPTURE -->
								
								<table class="dataTable row-border hover" datatable="ng"
									dt-options="vm.dtOptions">
									<thead>
										<tr>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Code</span>
												</div>
											</th>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Enqueteur</span>
												</div>
											</th>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Region<br/> District<br/>Site de débarquement</span>
												</div>
											</th>
										
											
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">latitude<br/>Longitude<br/>Altitude</span>
												</div>
											</th>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Date</span>
												</div>
											</th>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Date creation<br/>Date modification</span>
												</div>
											</th>
											<th class="secondary-text">
												<div class="table-header">
													<span class="column-title">Compte</span>
												</div>
											</th>

										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="fiche_echantillonnage_capture in vm.allfiche_echantillonnage_capture"  ng-class="{selected: fiche_echantillonnage_capture.$selected}" ng-click="vm.selection(fiche_echantillonnage_capture)">
											<td>{{fiche_echantillonnage_capture.code_unique}}</td>
											<td>{{fiche_echantillonnage_capture.enqueteur.nom}}</td>
											<td>
												 
												-{{fiche_echantillonnage_capture.region.nom}}<br/>
												-{{fiche_echantillonnage_capture.district.nom}}<br/>
												-{{fiche_echantillonnage_capture.site_embarquement.libelle}}
											</td>
										
										
											<td>
											   {{fiche_echantillonnage_capture.latitude}} <br/>
											   {{fiche_echantillonnage_capture.longitude}} <br/>
											   {{fiche_echantillonnage_capture.altitude}}
											</td>
											<td>{{vm.formatDateListe(fiche_echantillonnage_capture.date)}}</td>
											<td>{{vm.formatDateListe(fiche_echantillonnage_capture.date_creation)}}<br/>{{vm.formatDateListe(fiche_echantillonnage_capture.date_modification)}}</td>
											<td>{{fiche_echantillonnage_capture.user.nom}}</td>
											
											
										</tr>
									</tbody>
								</table>
								
							</md-tab-body>
	                    </md-tab>
	    <!--/STEP1 FICHE ECHANTILLONNAGE CAPTURE-->
	                   	
	    <!--STEP2 ECHANTILLON-->
	                   	<md-tab ng-disabled="vm.step1==false">
	                        <md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="vm.step2==false">2</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step2==true">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Echantillon</span>
	                            </span>
	                        </md-tab-label>
							<md-tab-body>
								<div style="clear:both;"></div>
								<md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 2</md-button >
								<div style="padding: 10px">
									<md-checkbox ng-model="vm.checkboxPAB" ng-change="vm.recuperationPab(vm.checkboxPAB)" ng-disabled="!vm.checkboxenable"> PAB </md-checkbox>		            
						            <md-checkbox ng-model="vm.checkboxCAB" ng-change="vm.recuperationCab(vm.checkboxCAB)"ng-disabled="!vm.checkboxenable"> CAB </md-checkbox>
						        </div>
								<div style="widht:100%;">    
									<md-button type="submit" ng-show="vm.afficherboutonnouveauEchantillon==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEchantillon()" style="width:10%;">
										Nouveau
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifEchantillon==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEchantillon()" style="width:10%;">
										Modifier
									</md-button>
									<md-button type="submit" ng-show="vm.afficherboutonModifSuprEchantillon==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEchantillon()" style="width:10%;">
										Supprimer
									</md-button>
								</div>

		<!--FORM ECHANTILLON-->
								<div ng-show="vm.affichageMasqueEchantillon==1">
							
									<form name="echantillonform" class="md-inline-form"  novalidate>
											<div layout="column" layout-gt-xs="row" flex>
												<input type="hidden" ng-model="vm.echantillon.id">						
												<md-input-container flex="100" flex-gt-xs="33">
													<label>Effort de pêche</label>
													<md-select ng-model="vm.echantillon.data_collect_id" disabled>
														<md-option ng-repeat="data_collect in vm.alldata_collect" value="{{data_collect.id}}">
															{{data_collect.code}}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="column" layout-gt-xs="row" flex ng-show="vm.checkboxPAB">
												<md-checkbox ng-model="vm.echantillon.peche_hier" ng-change="vm.recuperationPechehier(vm.checkboxPechehier)"> Peche hier </md-checkbox>&nbsp&nbsp
												<md-checkbox ng-model="vm.echantillon.peche_avant_hier" ng-change="vm.recuperationPecheavanthier(vm.checkboxPecheavanthier)"> Peche avant hier</md-checkbox>

												</div>
											<div layout="column" layout-gt-xs="row" flex>
												<md-input-container flex="100" flex-gt-xs="33" ng-show="vm.checkboxPAB">
													<input type="number" name="nbr_jrs_peche_dernier_sem" ng-model="vm.echantillon.nbr_jrs_peche_dernier_sem"
													placeholder="nombre de jour de peche dernière semaine" ng-max="7" ng-min="1" required>
													<div ng-messages="echantillonform.nbr_jrs_peche_dernier_sem.$error"
														role="alert">												
														<div ng-message="max">
															<span>Doit être inférieur ou égale à 7</span>
														</div>
														<div ng-message="min">
															<span>Doit être supérieur ou égale à 1</span>
														</div>
														<div ng-message="required">
															<span>nombre de jours de peche obligatoire</span>
														</div>
													</div>
												</md-input-container>
												<md-input-container flex="100" flex-gt-xs="33" ng-if="vm.checkboxPAB">
													<label>Unite peche</label>
													<md-select ng-model="vm.echantillon.unite_peche_id"  ng-change="vm.modifierunite_peche(vm.echantillon)" required>
														<md-option ng-repeat="unite_peche_site in vm.allunite_peche_site" value="{{unite_peche_site.unite_peche.id}}">
															{{unite_peche_site.unite_peche.libelle}}
														</md-option>
													</md-select>
													<div ng-messages="echantillonform.unite_peche_id.$error"
														role="alert">
														<div ng-message="required">
															<span>Unite de pêche obligatoire.</span>
														</div>
													</div>
												</md-input-container>
												<md-input-container flex="100" flex-gt-xs="33" ng-show="vm.checkboxPAB">
													<input type="number" name="duree_mare" ng-model="vm.echantillon.duree_mare"
													placeholder="Durée de marée"  ng-min="1" required >
													<div ng-messages="echantillonform.duree_mare.$error"
														role="alert">
														<div ng-message="required">
															<span>Durée de marée obligatoire</span>
														</div>

														<div ng-message="min">
															<span>Doit être supérieur ou égale à 1</span>
														</div>
													</div>
												</md-input-container>
											</div>

											<div layout="column" layout-gt-xs="row" flex>
												<md-input-container flex="100" flex-gt-xs="33" ng-show="!vm.checkboxPAB">
													<input type="number" name="nbr_bateau_actif" ng-model="vm.echantillon.nbr_bateau_actif"
													placeholder="Nbr bateau actif " ng-init="vm.echantillon.nbr_bateau_actif=''" pattern="\d+">
													<div ng-messages="echantillonform.nbr_bateau_actif.$error"
														role="alert">
														<div ng-message="pattern">
															<span>Nombre entier seulement</span>
														</div>
													</div>
												</md-input-container>
												<md-input-container flex="100" flex-gt-xs="33" ng-show="!vm.checkboxPAB">
													<input type="number" name="total_bateau_ecn" ng-model="vm.echantillon.total_bateau_ecn"
													placeholder="Total bateau ecn" ng-init="vm.echantillon.total_bateau_ecn=''" pattern="\d+">
													<div ng-messages="echantillonform.total_bateau_ecn.$error"
														role="alert">
														<div ng-message="pattern">
															<span>Nombre entier seulement</span>
														</div>
													</div>
												</md-input-container>
												<md-input-container flex="100" flex-gt-xs="33" ng-if="!vm.checkboxPAB">
													<label>Unite peche</label>
													<md-select ng-model="vm.echantillon.unite_peche_id"  ng-change="vm.modifierunite_peche(vm.echantillon)" required>
														<md-option ng-repeat="unite_peche_site in vm.allunite_peche_site" value="{{unite_peche_site.unite_peche.id}}">
															{{unite_peche_site.unite_peche.libelle}}
														</md-option>
													</md-select>
													<div ng-messages="echantillonform.unite_peche_id.$error"
														role="alert">
														<div ng-message="required">
															<span>Unite de pêche obligatoire.</span>
														</div>
													</div>
												</md-input-container>
												<md-input-container flex="100" flex-gt-xs="33" ng-show="!vm.checkboxPAB">
													<input type="number" name="duree_mare" ng-model="vm.echantillon.duree_mare"
													placeholder="Durée de marée" ng-init="vm.echantillon.duree_mare=''" ng-min="1"required>
													<div ng-messages="echantillonform.duree_mare.$error"
														role="alert">
														<div ng-message="required">
															<span>Durée de marée obligatoire</span>
														</div>
														<div ng-message="required">
															<span>Doit être supérieur ou égale à 1</span>
														</div>
													</div>
												</md-input-container>
											</div>
											<!--div layout="column" layout-gt-xs="row" flex>
												<md-input-container flex="100" flex-gt-xs="33">
													<label>Unite peche</label>
													<md-select ng-model="vm.echantillon.unite_peche_id"  ng-change="vm.modifierunite_peche(vm.echantillon)" required>
														<md-option ng-repeat="unite_peche_site in vm.allunite_peche_site" value="{{unite_peche_site.unite_peche.id}}">
															{{unite_peche_site.unite_peche.libelle}}
														</md-option>
													</md-select>
													<div ng-messages="echantillonform.unite_peche_id.$error"
														role="alert">
														<div ng-message="required">
															<span>Unite de pêche obligatoire.</span>
														</div>
													</divv>
												</md-input-container>								
											</div -->
										<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
											ng-disabled="echantillonform.$invalid || !vm.enableUnitepeche " ng-click="vm.ajoutEchantillon(vm.echantillon,0)">
											Enregistrer
										</md-button>
										<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerEchantillon()">
											Annuler
										</md-button>
									</form>
									<md-divider ></md-divider>
			    				</div> <br>
	<!--/FORM ECHANTILLON -->
								
								<table class="dataTable row-border hover" datatable="ng"
								dt-options="vm.dtOptions">
								<thead>
									<tr>
										<!--th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Fiche</span>
											</div>
										</th-->
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Code</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Effort de pêche</span>
											</div>
										</th>
										<th class="secondary-text" ng-show="vm.checkboxPAB">
											<div class="table-header">
												<span class="column-title">Pêche: hier<br/>avant hier</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Total capture<br ng-if="vm.checkboxPAB">
													<span ng-if="vm.checkboxPAB">Nbr jrs dernier sem</span>
												</span>
											</div>
										</th>
										<th class="secondary-text" ng-show="!vm.checkboxPAB">
											<div class="table-header">
												<span class="column-title">Bateau actif<br/>Bateau ecn</span>
											</div>
										</th>										
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Unite peche<br/>Durée de marée</span>
											</div>
										</th>														
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Date creation<br/>Date modification</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">User</span>
											</div>
										</th>

									</tr>
								<!--tr>
									 <th class="secondary-text" ng-repeat="ec in ::vm.echantillon_column">
				                      <div class="table-header">
				                          <span class="column-title">{{ec.titre}}</span>
				                      </div>
				                    </th>
				                </tr-->
								</thead>
								<tbody>
									<tr ng-repeat="echantillon in vm.echantillonfiltre"  ng-class="{selected: echantillon.$selected}" ng-click="vm.selectionechantillon(echantillon)">
										<td>{{echantillon.unique_code}}</td>
										<td>{{echantillon.data_collect.code}}</td>
										<td ng-show="vm.checkboxPAB">{{vm.affichage_bool(echantillon.peche_hier)}}<br/>{{vm.affichage_bool(echantillon.peche_avant_hier)}}</td>
										
										<td>{{echantillon.total_capture}} (kg)<br ng-if="vm.checkboxPAB">
											<span ng-if="vm.checkboxPAB">{{echantillon.nbr_jrs_peche_dernier_sem}} jrs</span>
										</td>
										
										<td ng-show="!vm.checkboxPAB">{{echantillon.nbr_bateau_actif}}<br/>{{echantillon.total_bateau_ecn}}</td>

										<td>{{echantillon.unite_peche.libelle}}<br/>{{echantillon.duree_mare}}</td>
										
										<!--td>{{echantillon.type_canoe_nom}}</td-->
										<!--td>{{echantillon.type_engin_nom}}</td-->
										
										<td>{{vm.formatDateListe(echantillon.date_creation)}}<br/>{{vm.formatDateListe(echantillon.date_modification)}}</td>
										<td>{{echantillon.user.nom}}</td>						
									</tr>
								</tbody>
							</table>
							</md-tab-body>
	                    </md-tab>
	    <!--/STEP2 ECHANTILLON-->

	    <!--STEP3 ESPACE CAPTURE-->
	                    <md-tab ng-disabled="vm.step1==false || vm.step2==false">
	                        <md-tab-label>
	                            <span class="ms-form-wizard-step-label">
	                                <span class="ms-form-wizard-step-number md-accent-bg"
	                                      ng-if="vm.step3==false">3</span>
	                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step3==true">
	                                    <i class="icon-check s16"></i>
	                                </span>
	                                <span class="ms-form-wizard-step-text">Espece capture</span>
	                            </span>
	                        </md-tab-label>
	                        <md-tab-body>
	                        <md-button class="md-raised md-primary" style="width:100%; margin:auto;border-radius:0;">Etape 3</md-button >
			                <div style="widht:100%;">    
			                    <md-button type="submit" ng-show="vm.afficherboutonnouveauEspece_capture==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEspece_capture()" style="width:10%;">
			                          Nouveau
			                    </md-button>
			                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEspece_capture()" style="width:10%;">
			                          Modifier
			                    </md-button>
			                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEspece_capture()" style="width:10%;">
			                          Supprimer
			                    </md-button>
			                </div> 

		<!--FORM FICHE ESPACE CAPTURE --> 
			    			<div ng-show="vm.affichageMasqueEspece_capture==1"> 
			        
			                  <form name="espece_captureform" class="md-inline-form" novalidate >
			                    <br>
			                    <div layout="column" layout-gt-xs="row">
			                      <input type="hidden" ng-model="vm.espece_capture.id">
			                      <md-input-container flex="100" flex-gt-xs="33">
			                        <label>Espece</label>
			                        <md-select ng-model="vm.espece_capture.espece_id"  ng-change="vm.modifierespece(vm.espece_capture)" md-container-class="mySelect"
			                        required>

			                          

			                         
			                          <md-option ng-repeat="espece in vm.allespece | orderBy : 'nom_local'" value="{{espece.id}}" style="height: 200px; min-height: 2px;max-height: 500px; padding: 0; margin: 0;"flex>
			                           <img src="{{vm.apiUrlimage}}{{espece.url_image}}" height="30" width="30" > {{espece.nom_local}}
			                          
			                          </md-option>
			                          <div ng-messages="espece_captureform.espece_id.$error"
			                              role="alert">
			                              <div ng-message="required">
			                                <span>Espece capture obligatoire.</span>
			                              </div>
			                            </div>
			                        </md-select>
			                      </md-input-container>
			                        <md-input-container flex="100" flex-gt-xs="33">
			                          <input type="number" name="capture" ng-model="vm.espece_capture.capture"
			                            placeholder="capture (Kg)" ng-min="0.000001"
			                            required>
			                            <div ng-messages="espece_captureform.capture.$error"
			                              role="alert">
			                              <div ng-message="required">
			                                <span>Capture obligatoire.</span>
			                              </div>
			                              <div ng-message="min">
			                                <span>Doit être supérieur ou égale à 1</span>
			                              </div>
			                            </div>
			                        </md-input-container>
			                        <md-input-container flex="100" flex-gt-xs="33">
			                          <input type="number" name="prix" ng-model="vm.espece_capture.prix"
			                            placeholder="prix (Ar/Kg)" ng-init="vm.espece_capture.prix=''" pattern="\d+" ng-min=1 required>
			                            <div ng-messages="espece_captureform.prix.$error"
			                              role="alert" ng-show="espece_captureform.prix.$dirty">
			                              <div ng-message="required">
			                                <span>Prix obligatoire.</span>
			                              </div>
			                              <div ng-message="pattern">
			                                <span>Nombre entier seulement</span>
			                              </div>
			                              <div ng-message="min">
			                                <span>Doit être supérieur ou égale à 1</span>
			                              </div>
			                            </div>
			                        </md-input-container>
			                    </div>
			                    <div>
			                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
			                          ng-disabled="espece_captureform.$invalid" ng-click="vm.ajoutEspece_capture(vm.espece_capture,0)">
			                          Enregistrer
			                    </md-button>
			                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerEspece_capture()">
			                      Annuler
			                    </md-button>
			                    </div>
			                  </form>
			                   <md-divider ></md-divider>
			    			</div> <br>

		<!--/FORM FICHE ESPACE CAPTURE -->

			                 <table class="dataTable row-border hover" datatable="ng"
			                      dt-options="vm.dtOptions">
			                  <thead>
			                    <tr>
			                      <th class="secondary-text" ng-repeat="esc in ::vm.espece_capture_column">
			                            <div class="table-header">
			                              <span class="column-title">{{esc.titre}}</span>
			                            </div>
			                      </th>
			                    </tr>
			                  </thead>
			                    <tbody>
			                        <tr ng-repeat="espece_capture in vm.allespece_capture" ng-class="{selected: espece_capture.$selected}" ng-click="vm.selectionEspece_capture(espece_capture)">
			                          <td>{{espece_capture.espece.nom_local}}</td>
			                          <td>{{espece_capture.capture}} (kg)</td>
			                          <td>{{espece_capture.prix}} (Ar/kg)</td>
			                          <td>{{espece_capture.user.nom}}</td>
			                          <td>{{vm.formatDateListe(espece_capture.date_creation)}}</td>
			                          <td>{{vm.formatDateListe(espece_capture.date_modification)}}</td>
			                        </tr>
			                    </tbody>
			                   
			                  </table>
			              </md-tab-body>
	                    </md-tab>
	    <!--STEP3 ESPACE CAPTURE-->                    
	                </md-tabs>         
	                <div class="navigation" flex layout="row" layout-align="center center">
	                    <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
	                               ng-disabled="msWizard.isFirstStep()">
	                        Précédent
	                    </md-button>
	                    <div class="steps">
	                        <span ng-repeat="form in vm.step"
	                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
	                    </div>
	                    <md-button class="md-raised md-accent" ng-click="msWizard.nextStep() || vm.functionpab()"
	                               ng-hide="msWizard.isLastStep()"
	                               ng-disabled="msWizard.selectedIndex==2 ||vm.step1==false" >

	                        Suivant
	                    </md-button>
	                </div>
	            </ms-form-wizard>
	        </div>
<!--/STEP-->        
    	</div>    
	</div>
</div>
