

  <md-dialog ng-cloak>
    <form  class="md-inline-form" name="dfsd">
     <md-subheader style="background-color: rgb(245,245,245)">
      <h2 mat-dialog-title  style="margin:0px">Option</h2>
     </md-subheader> 
      <md-dialog-content layout="row" style="padding:0px">      
        <div style=" margin:auto;">
          <md-radio-group ng-model="typeajout.type" layout="row">
              <md-radio-button value="PAB">PAB</md-radio-button>
              <md-radio-button value="CAB">CAB</md-radio-button>
          </md-radio-group>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row" style="background-color: rgb(245,245,245)">
      <span>
        <md-button type="submit" class="md-raised md-accent" ng-click="dialognouveauajout(typeajout.type)">Confirmer</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-click="cancel()">Annuler</md-button>
      </span>    
      </md-dialog-actions>
    </form>
  </md-dialog>


