<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Fiche echantillonnage capture</span>
            </div>

            <div class="title">Fiche de capture d'echantillonnage</div>
        </div>
    </div>
    <!--div class="content"layout="column">
		<div class="form-wrapper">			  
			<div style="clear:both;"></div>
			<div class="white-bg md-whiteframe-4dp">
				<md-tabs md-dynamic-height ng-show="vm.affichageMasque==1" md-stretch-tabs="always">
					<md-tab label="Ajout fiche echantillonnage capture">
						<div class="simple-table-container md-whiteframe-4dp">
						<md-tab-body>
							</br>
							<form name="fiche_echantillonnage_captureform" class="md-inline-form"  novalidate>
								<div layout="column" layout-gt-xs="row" flex>
									<input type="hidden" ng-model="vm.fiche_echantillonnage_capture.id"></input>				
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="code_unique" ng-model="vm.fiche_echantillonnage_capture.code_unique"
										placeholder="Code unique " ng-init="vm.fiche_echantillonnage_capture.code_unique=''"
										required>
										<div ng-messages="fiche_echantillonnage_captureform.code_unique.$error"
											role="alert">
											<div ng-message="required">
												<span>Code unique obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>Site_embarquement</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.site_embarquement_id"  ng-change="vm.modifiersite_embarquement(vm.fiche_echantillonnage_capture)">
											<md-option ng-repeat="site_embarquement in vm.allsite_embarquement" value="{{site_embarquement.id}}">
												{{site_embarquement.libelle}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>Enqueteur</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.enqueteur_id"  ng-change="vm.modifierenqueteur(vm.fiche_echantillonnage_capture)">
											<md-option ng-repeat="enqueteur in vm.allenqueteur" value="{{enqueteur.id}}">
												{{enqueteur.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>Region</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.region_id"  ng-change="vm.modifierregion(vm.fiche_echantillonnage_capture)">
											<md-option ng-repeat="region in vm.allregion" value="{{region.id}}">
												{{region.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<label>District</label>
										<md-select ng-model="vm.fiche_echantillonnage_capture.district_id"  ng-change="vm.modifierdistrict(vm.fiche_echantillonnage_capture)">
											<md-option ng-repeat="district in vm.allcurrentdistrict" value="{{district.id}}">
												{{district.nom}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="latitude" ng-model="vm.fiche_echantillonnage_capture.latitude"
										placeholder="Latitude " ng-init="vm.fiche_echantillonnage_capture.latitude=''"
										required>
										<div ng-messages="fiche_echantillonnage_captureform.latitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Latitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="longitude" ng-model="vm.fiche_echantillonnage_capture.longitude"
										placeholder="Longitude " ng-init="vm.fiche_echantillonnage_capture.longitude=''"
										required>
										<div ng-messages="fiche_echantillonnage_captureform.longitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Longitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="text" name="altitude" ng-model="vm.fiche_echantillonnage_capture.altitude"
										placeholder="Altitude " ng-init="vm.fiche_echantillonnage_capture.altitude=''"
										required>
										<div ng-messages="fiche_echantillonnage_captureform.altitude.$error"
											role="alert">
											<div ng-message="required">
												<span>Altitude obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="33">
										<input type="datetime" name="date" ng-model="vm.fiche_echantillonnage_capture.date"
										placeholder="Date: AAAA/MM/JJ " ng-init="vm.fiche_echantillonnage_capture.date=''"
										required>
										<div ng-messages="fiche_echantillonnage_captureform.date.$error"
											role="alert">
											<div ng-message="required">
												<span>Date obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									
								</div>
								<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									ng-disabled="fiche_echantillonnage_captureform.$invalid " ng-click="vm.ajout(vm.fiche_echantillonnage_capture,0)">
									Enregistrer
								</md-button>
								<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
									Annuler
								</md-button>
							</form>
						</md-tab-body>
						</div>
					
					</md-tab>
					</md-tabs>
				</div-->
				<!--div class="white-bg md-whiteframe-4dp">	
				<md-tabs md-dynamic-height ng-show="vm.affichageMasqueEchantillon==1" md-stretch-tabs="always">
				<md-tab label="Ajout Echantillon">
					<div class="simple-table-container md-whiteframe-4dp">
					<md-tab-body>
						<br>
						<form name="echantillonform" class="md-inline-form"  novalidate>
							<div layout="column" layout-gt-xs="row" flex>
								<input type="hidden" ng-model="vm.echantillon.id"></input>		
								
								
								<md-input-container flex="100" flex-gt-xs="33">
									<label>Type canoe</label>
									<md-select ng-model="vm.echantillon.type_canoe_id"  ng-change="vm.modifiertype_canoe(vm.echantillon)">
										<md-option ng-repeat="type_canoe in vm.alltype_canoe" value="{{type_canoe.id}}">
											{{type_canoe.nom}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<label>Type engin</label>
									<md-select ng-model="vm.echantillon.type_engin_id"  ng-change="vm.modifiertype_engin(vm.echantillon)">
										<md-option ng-repeat="type_engin in vm.alltype_engin" value="{{type_engin.id}}">
											{{type_engin.libelle}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="peche_hier" ng-model="vm.echantillon.peche_hier"
									placeholder="Peche hier " ng-init="vm.echantillon.peche_hier=''"
									required>
									<div ng-messages="echantillonform.peche_hier.$error"
										role="alert">
										<div ng-message="required">
											<span>Peche hier obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="peche_avant_hier" ng-model="vm.echantillon.peche_avant_hier"
									placeholder="Peche avant hier " ng-init="vm.echantillon.peche_avant_hier=''"
									required>
									<div ng-messages="echantillonform.peche_avant_hier.$error"
										role="alert">
										<div ng-message="required">
											<span>Peche avant hier obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="nbr_jrs_peche_dernier_sem" ng-model="vm.echantillon.nbr_jrs_peche_dernier_sem"
									placeholder="nbr jrs" ng-init="vm.echantillon.nbr_jrs_peche_dernier_sem=''"
									required>
									<div ng-messages="echantillonform.nbr_jrs_peche_dernier_sem.$error"
										role="alert">
										<div ng-message="required">
											<span>Nbr du jours obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="total_capture" ng-model="vm.echantillon.total_capture"
									placeholder="Total_capture " ng-init="vm.echantillon.total_capture=''"
									required>
									<div ng-messages="echantillonform.total_capture.$error"
										role="alert">
										<div ng-message="required">
											<span>Total capture obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="unique_code" ng-model="vm.echantillon.unique_code"
									placeholder="Code unique" ng-init="vm.echantillon.unique_code=''"
									required>
									<div ng-messages="echantillonform.unique_code.$error"
										role="alert">
										<div ng-message="required">
											<span>Code unique obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<label>Data collect</label>
									<md-select ng-model="vm.echantillon.data_collect_id"  ng-change="vm.modifierdata_collect(vm.echantillon)">
										<md-option ng-repeat="data_collect in vm.alldata_collect" value="{{data_collect.id}}">
											{{data_collect.libelle}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="nbr_bateau_actif" ng-model="vm.echantillon.nbr_bateau_actif"
									placeholder="Nbr bateau actif " ng-init="vm.echantillon.nbr_bateau_actif=''"
									required>
									<div ng-messages="echantillonform.nbr_bateau_actif.$error"
										role="alert">
										<div ng-message="required">
											<span>Nbr bateau actif obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="total_bateau_ecn" ng-model="vm.echantillon.total_bateau_ecn"
									placeholder="Total bateau " ng-init="vm.echantillon.total_bateau_ecn=''"
									required>
									<div ng-messages="echantillonform.total_bateau_ecn.$error"
										role="alert">
										<div ng-message="required">
											<span>Total bateau ecn obligatoire.</span>
										</div>
									</div>
								</md-input-container>							
								
							</div>
							<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
								ng-disabled="echantillonform.$invalid " ng-click="vm.ajoutEchantillon(vm.echantillon,0)">
								Enregistrer
							</md-button>
							<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerEchantillon()">
								Annuler
							</md-button>
						</form>
					</md-tab-body>
					</div>
				
				</md-tab>
			</div-->
			<!-- BASIC FORM --> 
		    <!--div class="white-bg md-whiteframe-4dp"> 
		         <md-tabs  md-dynamic-height ng-show="vm.affichageMasqueEspece_capture==1" md-stretch-tabs="always">
		            <md-tab label="Ajout Espece capture">
		                <md-tab-body>
		                  <form name="espece_captureform" class="md-inline-form" novalidate >
		                    </br>
		                    <div layout="column" layout-gt-xs="row">
		                      <input type="hidden" ng-model="vm.espece_capture.id">
		                      <md-input-container flex="100" flex-gt-xs="33">
		                        <label>Espece</label>
		                        <md-select ng-model="vm.espece_capture.espece_id"  ng-change="vm.modifierespece(vm.espece_capture)">
		                          <md-option ng-repeat="espece in vm.allespece" value="{{espece.id}}">
		                            {{espece.nom_local}}
		                          </md-option>
		                        </md-select>
		                      </md-input-container>
		                        <md-input-container flex="100" flex-gt-xs="33">
		                          <input type="text" name="capture" ng-model="vm.espece_capture.capture"
		                            placeholder="capture " ng-init="vm.espece_capture.capture=''"
		                            required>
		                            <div ng-messages="espece_captureform.capture.$error"
		                              role="alert">
		                              <div ng-message="required">
		                                <span>Capture obligatoire.</span>
		                              </div>
		                            </div>
		                        </md-input-container>
		                        <md-input-container flex="100" flex-gt-xs="33">
		                          <input type="text" name="prix" ng-model="vm.espece_capture.prix"
		                            placeholder="prix " ng-init="vm.espece_capture.prix=''"
		                            required>
		                            <div ng-messages="espece_captureform.prix.$error"
		                              role="alert">
		                              <div ng-message="required">
		                                <span>Prix obligatoire.</span>
		                              </div>
		                            </div>
		                        </md-input-container>
		                    </div>
		                    <div>
		                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
		                          ng-disabled="espece_captureform.$invalid" ng-click="vm.ajoutEspece_capture(vm.espece_capture,0)">
		                          Enregistrer
		                    </md-button>
		                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerEspece_capture()">
		                      Annuler
		                    </md-button>
		                    </div>
		                  </form>
		                </md-tab-body>
		            </md-tab>
		        </md-tabs>
		    </div--> 
		    <!-- / BASIC FORM -->
			
			
			<!--div class="ongletdata">
			<div class="white-bg md-whiteframe-4dp">	
				<md-tabs md-dynamic-height md-stretch-tabs="always">
					<md-tab md-on-select="removeBouton()">
						<md-tab-label style= "">
							<span  id="icon" style= "">1</span>&nbsp &nbsp Liste fiche echantillonnage
						</md-tab-label>
						<md-tab-body>
							<br>
							<div style="widht:100%;">    
								<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
									Nouveau
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
									Modifier
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
									Supprimer
								</md-button>
							</div>
							<table class="dataTable row-border hover" datatable="ng"
								dt-options="vm.dtOptions">
								<thead>
									<tr>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Code</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Date</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Date creation<br/>Date modification</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Site</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Enqueteur</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">User</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Region</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">District</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">latitude/Longitude/<br/>Altitude</span>
											</div>
										</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="fiche_echantillonnage_capture in vm.allfiche_echantillonnage_capture"  ng-class="{selected: fiche_echantillonnage_capture.$selected}" ng-click="vm.selection(fiche_echantillonnage_capture)">
										<td>{{fiche_echantillonnage_capture.code_unique}}</td>
										<td>{{fiche_echantillonnage_capture.date}}</td>
										<td>{{fiche_echantillonnage_capture.date_creation}}<br/>{{fiche_echantillonnage_capture.date_modification}}</td>
										<td>{{fiche_echantillonnage_capture.site_embarquement_nom}}</td>
										<td>{{fiche_echantillonnage_capture.enqueteur_nom}}</td>
										<td>{{fiche_echantillonnage_capture.user_nom}}</td>
										<td>{{fiche_echantillonnage_capture.region_nom}}</td>
										<td>{{fiche_echantillonnage_capture.district_nom}}</td>
										<td>{{fiche_echantillonnage_capture.latitude}} / {{fiche_echantillonnage_capture.longitude}} / {{fiche_echantillonnage_capture.altitude}}</td>
										
										
									</tr>
								</tbody>
							</table>
						</md-tab-body>
					</md-tab>

					<md-tab md-on-select="removeBoutonEspece_capture()">
						<md-tab-label style= "">
							<span id="icon" style= "">2</span> &nbsp &nbsp Echantillon &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   
							  
						</md-tab-label>
						<md-tab-body>
							<div style="clear:both;"></div>
							<div style="widht:100%;">    
								<md-button type="submit" ng-show="vm.afficherboutonnouveauEchantillon==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEchantillon()" style="width:10%;">
									Nouveau
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSuprEchantillon==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEchantillon()" style="width:10%;">
									Modifier
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSuprEchantillon==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEchantillon()" style="width:10%;">
									Supprimer
								</md-button>
							</div>
							<table class="dataTable row-border hover" datatable="ng"
							dt-options="vm.dtOptions">
							<thead>
								<tr>
									
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Canoe</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Engin</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Peche hier<br/>avant hier</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Nbr jrs/sem</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Total capture</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Code</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Data collect</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Bateau actif<br/>bateau ecn</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date creation<br/>modification</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">User</span>
										</div>
									</th>

								</tr>
							
							</thead>
							<tbody>
								<tr ng-repeat="echantillon in vm.allechantillon"  ng-class="{selected: echantillon.$selected}" ng-click="vm.selectionechantillon(echantillon)">
									
									<td>{{echantillon.type_canoe_nom}}</td>
									<td>{{echantillon.type_engin_nom}}</td>
									<td>{{echantillon.peche_hier}}<br/>{{echantillon.peche_avant_hier}}</td>
									<td>{{echantillon.nbr_jrs_peche_dernier_sem}}</td>
									<td>{{echantillon.total_capture}}</td>
									<td>{{echantillon.unique_code}}</td>
									<td>{{echantillon.data_collect_nom}}</td>
									<td>{{echantillon.nbr_bateau_actif}}<br/>{{echantillon.total_bateau_ecn}}</td>
									<td>{{echantillon.date_creation}}<br/>{{echantillon.date_modification}}</td>
									<td>{{echantillon.user_nom}}</td>						
								</tr>
							</tbody>
						</table>
						</md-tab-body>
					</md-tab>
					<md-tab>
		              <md-tab-label>
		                <span  id="icon" style= "">2</span> &nbsp &nbsp Espece capture    
		                  
		              </md-tab-label>
		              <md-tab-body>

		                <div style="widht:100%;">    
		                    <md-button type="submit" ng-show="vm.afficherboutonnouveauEspece_capture==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEspece_capture()" style="width:10%;">
		                          Nouveau
		                    </md-button>
		                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEspece_capture()" style="width:10%;">
		                          Modifier
		                    </md-button>
		                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEspece_capture()" style="width:10%;">
		                          Supprimer
		                    </md-button>
		                </div> 

		                 <table class="dataTable row-border hover" datatable="ng"
		                      dt-options="vm.dtOptions">
		                  <thead>
		                    <tr>
		                      <th class="secondary-text" ng-repeat="esc in ::vm.espece_capture_column">
		                            <div class="table-header">
		                              <span class="column-title">{{esc.titre}}</span>
		                            </div>
		                      </th>
		                    </tr>
		                  </thead>
		                    <tbody>
		                        <tr ng-repeat="espece_capture in vm.allespece_capture" ng-class="{selected: espece_capture.$selected}" ng-click="vm.selectionEspece_capture(espece_capture)">
		                          <td>{{espece_capture.espece_nom}}</td>
		                          <td>{{espece_capture.capture}}</td>
		                          <td>{{espece_capture.prix}}</td>
		                          <td>{{espece_capture.user_nom}}</td>
		                          <td>{{espece_capture.date_creation}}</td>
		                          <td>{{espece_capture.date_modification}}</td>
		                        </tr>
		                    </tbody>
		                   
		                  </table>
		              </md-tab-body>
		            </md-tab>
				</md-tabs>
			</div>
			</div-->
			<div layout="row">

            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="vm.step1==false">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step1==true">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Fiche echntillonnage capture</span>
                            </span>
                        </md-tab-label>

                       <md-tab-body ms-form-wizard-form>
                       	
							<div style="widht:100%;">    
								<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
									Nouveau
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
									Modifier
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
									Supprimer
								</md-button>
							</div>
							<table class="dataTable row-border hover" datatable="ng"
								dt-options="vm.dtOptions">
								<thead>
									<tr>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Code</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Date</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Date creation<br/>Date modification</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Site</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Enqueteur</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">User</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">Region</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">District</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="table-header">
												<span class="column-title">latitude/Longitude/<br/>Altitude</span>
											</div>
										</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="fiche_echantillonnage_capture in vm.allfiche_echantillonnage_capture"  ng-class="{selected: fiche_echantillonnage_capture.$selected}" ng-click="vm.selection(fiche_echantillonnage_capture)">
										<td>{{fiche_echantillonnage_capture.code_unique}}</td>
										<td>{{fiche_echantillonnage_capture.date}}</td>
										<td>{{fiche_echantillonnage_capture.date_creation}}<br/>{{fiche_echantillonnage_capture.date_modification}}</td>
										<td>{{fiche_echantillonnage_capture.site_embarquement_nom}}</td>
										<td>{{fiche_echantillonnage_capture.enqueteur_nom}}</td>
										<td>{{fiche_echantillonnage_capture.user_nom}}</td>
										<td>{{fiche_echantillonnage_capture.region_nom}}</td>
										<td>{{fiche_echantillonnage_capture.district_nom}}</td>
										<td>{{fiche_echantillonnage_capture.latitude}} / {{fiche_echantillonnage_capture.longitude}} / {{fiche_echantillonnage_capture.altitude}}</td>
										
										
									</tr>
								</tbody>
							</table>
							
						</md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="vm.step1==false">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="vm.step2==false">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step2==true">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Echantillon</span>
                            </span>
                        </md-tab-label>
						<md-tab-body>
							<div style="clear:both;"></div>
							<div style="widht:100%;">    
								<md-button type="submit" ng-show="vm.afficherboutonnouveauEchantillon==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEchantillon()" style="width:10%;">
									Nouveau
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSuprEchantillon==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEchantillon()" style="width:10%;">
									Modifier
								</md-button>
								<md-button type="submit" ng-show="vm.afficherboutonModifSuprEchantillon==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEchantillon()" style="width:10%;">
									Supprimer
								</md-button>
							</div>
							<table class="dataTable row-border hover" datatable="ng"
							dt-options="vm.dtOptions">
							<thead>
								<tr>
									<!--th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Fiche</span>
										</div>
									</th-->
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Canoe</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Engin</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Peche hier<br/>avant hier</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Nbr jrs/sem</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Total capture</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Code</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Data collect</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Bateau actif<br/>bateau ecn</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date creation<br/>modification</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">User</span>
										</div>
									</th>

								</tr>
							<!--tr>
								 <th class="secondary-text" ng-repeat="ec in ::vm.echantillon_column">
			                      <div class="table-header">
			                          <span class="column-title">{{ec.titre}}</span>
			                      </div>
			                    </th>
			                </tr-->
							</thead>
							<tbody>
								<tr ng-repeat="echantillon in vm.allechantillon"  ng-class="{selected: echantillon.$selected}" ng-click="vm.selectionechantillon(echantillon)">
									<!--td>{{echantillon.fiche_echantillonnage_capture_nom}}</td-->
									<td>{{echantillon.type_canoe_nom}}</td>
									<td>{{echantillon.type_engin_nom}}</td>
									<td>{{echantillon.peche_hier}}<br/>{{echantillon.peche_avant_hier}}</td>
									<td>{{echantillon.nbr_jrs_peche_dernier_sem}}</td>
									<td>{{echantillon.total_capture}}</td>
									<td>{{echantillon.unique_code}}</td>
									<td>{{echantillon.data_collect_nom}}</td>
									<td>{{echantillon.nbr_bateau_actif}}<br/>{{echantillon.total_bateau_ecn}}</td>
									<td>{{echantillon.date_creation}}<br/>{{echantillon.date_modification}}</td>
									<td>{{echantillon.user_nom}}</td>						
								</tr>
							</tbody>
						</table>
						</md-tab-body>
                    </md-tab>

                    <md-tab ng-disabled="vm.step1==false || vm.step2==false">
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="vm.step3==false">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.step3==true">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Espece capture</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>

		                <div style="widht:100%;">    
		                    <md-button type="submit" ng-show="vm.afficherboutonnouveauEspece_capture==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterEspece_capture()" style="width:10%;">
		                          Nouveau
		                    </md-button>
		                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifierEspece_capture()" style="width:10%;">
		                          Modifier
		                    </md-button>
		                    <md-button type="submit" ng-show="vm.afficherboutonModifSuprEspece_capture==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimerEspece_capture()" style="width:10%;">
		                          Supprimer
		                    </md-button>
		                </div> 

		                 <table class="dataTable row-border hover" datatable="ng"
		                      dt-options="vm.dtOptions">
		                  <thead>
		                    <tr>
		                      <th class="secondary-text" ng-repeat="esc in ::vm.espece_capture_column">
		                            <div class="table-header">
		                              <span class="column-title">{{esc.titre}}</span>
		                            </div>
		                      </th>
		                    </tr>
		                  </thead>
		                    <tbody>
		                        <tr ng-repeat="espece_capture in vm.allespece_capture" ng-class="{selected: espece_capture.$selected}" ng-click="vm.selectionEspece_capture(espece_capture)">
		                          <td>{{espece_capture.espece_nom}}</td>
		                          <td>{{espece_capture.capture}}</td>
		                          <td>{{espece_capture.prix}}</td>
		                          <td>{{espece_capture.user_nom}}</td>
		                          <td>{{espece_capture.date_creation}}</td>
		                          <td>{{espece_capture.date_modification}}</td>
		                        </tr>
		                    </tbody>
		                   
		                  </table>
		              </md-tab-body>
                    </md-tab>
                </md-tabs>

                <div class="navigation" flex layout="row" layout-align="center center">
                    <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                               ng-disabled="msWizard.isFirstStep()">
                        Précédent
                    </md-button>
                    <div class="steps">
                        <span ng-repeat="form in vm.step"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
                    </div>
                    <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                               ng-hide="msWizard.isLastStep()"
                               ng-disabled="msWizard.selectedIndex==2 ||vm.step1==false" >

                        Suivant
                    </md-button>
                    <!--md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();"
                               ng-show="msWizard.isLastStep()"
                               ng-disabled="msWizard.formsIncomplete()">
                        Send
                    </md-button-->
                </div>

            </ms-form-wizard>
            <!-- / FORM WIZARD -->

        </div>

		</div>
    </div>
</div>
