<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Reporting / Analyses</span>

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;">Analyse parametrable</span>
            
            </div>

            <div class="title">Analyse Echantillon</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content"layout="column">
        <div class="form-wrapper">            
            <div style="clear:both;"></div>
            <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
                  <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Chargement,veuillez patienter s'il vous plait ...
                  </div>
            <div class="white-bg md-whiteframe-4dp"> 
                 <md-tabs  md-dynamic-height>
                    <md-tab label="Filtre">
                    
                          <form name="filtreform" class="md-inline-form" novalidate >
                            <br>
                            <div layout="column" layout-gt-xs="row">

                              <md-input-container flex="100" flex-gt-xs="10">
                                  <label>Année</label>
                                    <md-select ng-model="vm.filtre.annee" required>
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="annee in vm.annees" value="{{annee}}" >
                                        {{annee}}
                                      </md-option>

                                    </md-select>

                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="10">
                                  <label>Pivot</label>
                                    <md-select ng-model="vm.filtre.pivot" ng-disabled="vm.affiche_load" ng-change="vm.analysefiltrer(vm.filtre)" required>
                                      <md-option  value="*">L1.1 Strate Majeur</md-option>
                                      <md-option ng-repeat="piv in vm.pivots" value="{{piv.id}}" >
                                        {{piv.titre}}
                                      </md-option>

                                    </md-select>

                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-xs="row" flex>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Région(= Strate Mineur)</label>
                                    <md-select ng-model="vm.filtre.id_region" ng-change="vm.filtre_district()" >
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="region in vm.allregion" value="{{region.id}}" >
                                        {{region.nom}}
                                      </md-option>
                                    </md-select>
                                    <div ng-messages="filtreform.region.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>Région obligatoire.</span>
                                      </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>District</label>
                                    <md-select ng-model="vm.filtre.id_district" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_site()">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="district in vm.districts" value="{{district.id}}">
                                        {{district.nom}}
                                      </md-option>                                  
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Site de débarquement</label>
                                    <md-select ng-model="vm.filtre.id_site_embarquement" ng-disabled="!vm.filtre.id_district" ng-change="vm.filtre_up()">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="site in vm.sites" value="{{site.id}}">
                                        {{site.libelle}}
                                      </md-option>                                  
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Unité de pêche</label>
                                    <md-select ng-model="vm.filtre.id_unite_peche" >
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="up in vm.unite_peches" value="{{up.id}}">
                                        {{up.libelle}}
                                      </md-option>                                     
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Espèce</label>
                                    <md-select ng-model="vm.filtre.id_espece" >
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="espece in vm.allespece" value="{{espece.id}}" style="height: 200px; min-height: 2px;max-height: 500px; padding: 0; margin: 0;"flex>
                                       <img src="{{vm.apiUrlimage}}{{espece.url_image}}" height="30" width="30" > ({{espece.code}}){{espece.nom_local}}
                                      
                                      </md-option>                                   
                                </md-input-container>
                            </div>
                            <div>
                             <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                  ng-disabled="filtreform.$invalid || vm.affiche_load" ng-click="vm.analysefiltrer(vm.filtre)">
                                  Actualiser
                            </md-button>
                            <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                  ng-disabled="filtreform.$invalid || vm.affiche_load" ng-click="vm.exportExcel(vm.filtre)">
                                  Export excel
                            </md-button>
                            </div>
                          </form>                     
                    </md-tab>
                </md-tabs>
                <md-tabs md-dynamic-height >
                    <md-tab label="Espece capture ">                        
                        <table class="dataTable row-border cell-border text-center" datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                  <tr>
                                    <th class="secondary-text" ng-show="vm.cacher_table('mois',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Mois</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('id_region',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Région</span>
                                          </div>
                                    </th>
                                    <!--th class="secondary-text">
                                          <div class="table-header">
                                            <span class="column-title">District</span>
                                          </div>
                                    </th-->
                                    <th class="secondary-text" ng-show="vm.cacher_table('id_site_embarquement',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Site d'enquête</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('id_unite_peche',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Unité de pêche</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('id_espece',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Nom local</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('id_espece',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Nom scientifique</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('cpue_effort',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">Jours de pêche annuelle</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text">
                                          <div class="table-header">
                                            <span class="column-title">Capture totales</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text">
                                          <div class="table-header">
                                            <span class="column-title">Valeur totales</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text" ng-show="vm.cacher_table('cpue_effort',vm.filtre.pivot)">
                                          <div class="table-header">
                                            <span class="column-title">CPUE(kg/jour)</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text">
                                          <div class="table-header">
                                            <span class="column-title">Moy Erreur Rel PUE 90%</span>
                                          </div>
                                    </th>
                                    <th class="secondary-text">
                                          <div class="table-header">
                                            <span class="column-title">Moy Erreur Rel Capture 90%</span>
                                          </div>
                                    </th>
                                  </tr>
                                </thead>
                                  <tbody>
                                      <tr ng-repeat="data in vm.datas" ng-class="{selected: data.$selected}" ng-click="vm.selection(data)">
                                        <td ng-show="vm.cacher_table('mois',vm.filtre.pivot)">{{data.mois}}</td>
                                        <td ng-show="vm.cacher_table('id_region',vm.filtre.pivot)">{{data.region}}</td>
                                        <!--td>{{data.district}}</td-->
                                        <td ng-show="vm.cacher_table('id_site_embarquement',vm.filtre.pivot)">{{data.site_embarquement}}</td>
                                        <td ng-show="vm.cacher_table('id_unite_peche',vm.filtre.pivot)">{{data.unite_peche}}</td>
                                        <td ng-show="vm.cacher_table('id_espece',vm.filtre.pivot)">{{data.espece_nom_local}}</td>
                                        <td ng-show="vm.cacher_table('id_espece',vm.filtre.pivot)">{{data.espece_nom_scientifique}}</td>
                                        <td ng-show="vm.cacher_table('cpue_effort',vm.filtre.pivot)">{{vm.formatMillier(data.nbr_total_jrs_peche_annuel_moy)}}</td>
                                        <td>{{vm.convertion_kg_tonne(data.capture)}}</td>
                                        <td>{{vm.formatMillier(data.prix)}} Ar</td>
                                        <td ng-show="vm.cacher_table('cpue_effort',vm.filtre.pivot)">{{vm.convertion_point_virgule(data.cpue_effort)}}</td>
                                        <td>{{data.erreur_relative}}</td>
                                        <td>{{data.erreur_rel_capture}}</td>
                                        
                                      </tr>
                                  </tbody>   
                                  <tfoot >
                                      <tr style="background-color: #00b6ff;">
                                        <td ng-if="vm.req3_6"> Total jour de pêche annuel = {{vm.formatMillier(vm.totals.total_jour_peche)}} jours</td>
                                        <td ng-if="vm.totals">Total captures = {{vm.convertion_kg_tonne(vm.totals.total_capture) }}</td>
                                        <td ng-if="!vm.totals"> Total captures = 0 Kg</td>
                                        <td ng-if="vm.req3_6"> Total cpue = {{vm.totals.total_cpue}} kg/jour</td>
                                        <td ng-if="!vm.totals"> Total Prix = 0 Ar</td>
                                        <td ng-if="!vm.totals"> Erreur Rel PUE 90% = 0 %</td>
                                        <td ng-if="!vm.totals"> Erreur Rel Capture 90% = 0 %</td>
                                        <td ng-if="vm.totals">Total Prix = {{vm.formatMillier(vm.totals.total_prix)}} Ar <br> {{vm.formatMillier((vm.totals.total_prix)*5)}} Fmg</td>
                                        <td ng-if="vm.totals">Erreur Rel PUE 90% = {{vm.totals.erreur_relative_total }}</td>
                                        <td ng-if="vm.totals">Erreur Rel Capture 90% = {{vm.totals.erreur_relative_capture_total}}</td>

                                      </tr>
                                  </tfoot>                      
                        </table>
                    </md-tab>                   
                  </md-tabs>
            </div> 
        </div> 
            
    </div>
    <!-- / CONTENT -->

  </div>
