  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Espece</span>
            </div>

            <div class="title">Espece</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
            <!-- LISTE TABLE -->
    <div class="content"layout="column">
    <div class="form-wrapper">    
     <div style="clear:both;"></div> 
     <!-- BASIC FORM --> 
     <div class="white-bg md-whiteframe-4dp"> 
         <md-tabs  md-dynamic-height ng-show="vm.affichageMasque==1">
            <md-tab label="Ajout Espece">
                <md-tab-body>
                  <form name="especeform" class="md-inline-form" novalidate >
                    <div layout="column" layout-gt-xs="row"><P></P>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                      <input type="hidden" ng-model="vm.espece.id">
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="code" ng-model="vm.espece.code"
                            placeholder="Code" ng-init="vm.espece.code=''"
                            required>
                            <div ng-messages="especeform.code.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>Code obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="nom_local" ng-model="vm.espece.nom_local"
                            placeholder="Nom local" ng-init="vm.espece.nom_local=''"
                            required>
                            <div ng-messages="especeform.nom_local.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>Nom local obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                         <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="nom_scientifique" ng-model="vm.espece.nom_scientifique"
                            placeholder="Nom scientifique " ng-init="vm.espece.nom_scientifique=''"
                            required>
                            <div ng-messages="especeform.nom_scientifique.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>Nom scientifique obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="url_image" ng-model="vm.espece.url_image"
                            placeholder="Image" ng-init="vm.espece.url_image=''"
                            disabled required>
                            <div ng-messages="especeform.url_image.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>File obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  accept="image/*" ng-model="url_image" id="fileid" ngf-pattern="'image/png'">
                            <div ng-messages="especeform.myFile.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>File obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                     <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                          ng-disabled="especeform.$invalid" ng-click="vm.ajout(vm.espece,0,'')">
                          Enregistrer
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                      Annuler
                    </md-button>
                    </div>
                  </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div> 
    <!-- / BASIC FORM -->

    <!-- BASIC FORM IMAGE--> 
     <!--div class="white-bg md-whiteframe-4dp"> 
         <md-tabs  md-dynamic-height ng-show="vm.affichageMasqueImage==1" >
            <md-tab label="Ajout File">
                <md-tab-body>
                  <form name="imageform" class="md-inline-form" novalidate >
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="file" file-upload name="myFile" aria-label="upload" accept="image/*" custom-on-change="uploadFile"  accept="image/*" >
                            <div ng-messages="imageform.upload.$error"
                              role="alert">
                              <div ng-message="required">
                                <span>File obligatoire.</span>
                              </div>
                            </div>
                        </md-input-container>

                    </div>
                    <div>
                     <md-button type="submit" class="md-raised md-accent"
                          ng-disabled="imageform.$invalid" ng-click="vm.uploadFile()">
                          Upload
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                      Annuler
                    </md-button>
                    </div>
                  </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div--> 
    <!-- / BASIC FORM  IMAGE-->

    <div style="widht:100%;" style="position: fixed;right: 0px;top: 0px;">    
      <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
        Nouveau
      </md-button>
      <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
        Modifier
      </md-button>
      <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
        Supprimer
      </md-button>
    </div>
   <br>
    <div class="white-bg md-whiteframe-4dp" >
        <md-tabs md-dynamic-height > 
            <md-tab>              
              <md-tab-label>
              Liste Espece 
              </md-tab-label>
              <md-tab-body>
                <div style="height: 500px; overflow-y: scroll;" id="">
                  <div class="price-tables" flex layout="row" layout-wrap style="padding:20px;">
                    <div class="price-table style-1 md-whiteframe-1dp item" layout="column" ng-repeat="espece in vm.allespece" ng-class="{selected: espece.$selected}" ng-click="vm.selection(espece)" style="width:200px;" >
                        <div class=" terms package-type md-primary-bg" style="padding:8px;height: 85px" >
                          
                            <div class="term" style="font-size: 11px; "><span class="text-bold"style="font-size: 12px; ">Code :</span > {{espece.code}}</div>
                           
                            <div class="term" style="font-size: 11px;"><span class="text-bold"style="font-size: 12px">Nom local :</span> {{espece.nom_local}}</div>
                            
                            <div class="term" style="font-size: 11px"><span class="text-bold"style="font-size: 12px">Nom scientifique :</span> {{espece.nom_scientifique}}</div>
                            

                        </div>
                        
                        <div class="price" layout="row" layout-align="center start" style="padding:0">
                            <div class="currency" style="padding: 0"><img src="{{espece.url_image}}" onError="this.src = 'http://localhost/assets/ddb/espece/espece.png'" id="image"></div>
                            
                        </div>

                        

                        <!--div class="terms" layout="column">
                            <div class="term"><span class="text-bold">Code :</span> {{espece.code}}</div>
                            <div class="term"><span class="text-bold">Nom local :</span> {{espece.nom_local}}</div>
                            <div class="term"><span class="text-bold">Nom scientifique :</span> {{espece.nom_scientifique}}</div>
                        </div-->

                        <!--md-button class="cta-button md-raised md-accent">BUY NOW</md-button-->
                    </div>
                  
                </div>
                </div>
              </md-tab-body>               
            </md-tab>             
            <!--md-tab md-on-select="removeBouton()">
              <md-tab-label>
              Liste Espece 
              </md-tab-label>
              <md-tab-body>

                 <table class="dataTable row-border hover" datatable="ng"
                      dt-options="vm.dtOptions">
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="es in ::vm.espece_column">
                            <div class="table-header">
                              <span class="column-title">{{es.titre}}</span>
                            </div>
                      </th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr ng-repeat="espece in vm.allespece" ng-class="{selected: espece.$selected}" ng-click="vm.selection(espece)">
                          <td>{{espece.code}}</td>
                          <td>{{espece.nom_local}}</td>
                          <td>{{espece.nom_scientifique}}</td>
                          <td><img ng-src="{{espece.url_image}}" onError="this.src = 'http://localhost/assets/ddb/espece/espece'" height="20" width="20" ></td>
                        </tr>
                    </tbody>
                   
                  </table>
              </md-tab-body>
            </md-tab-->         
        </md-tabs>
    </div>
    </div>
    </div>
    <!-- / CONTENT -->
  </div>
