#forms {

    .content {

        .form-wrapper {
        .ongletdata{

         .md-tab.md-active{
                background-color: rgb(70,181,214) !important;
                color: white;
                font-weight: bold;

                }
        .md-tab{
                background-color: rgb(83,215,255) !important;
                color: white;
                }
            }

        }
		
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}