<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Reporting / Analyses</span>

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;">Nombre d'échantillon</span>
            
            </div>

            <div class="title">Nombres d'échantillon</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content"layout="column">
        <div class="form-wrapper">            
            <div style="clear:both;"></div>
            
            <div class="white-bg md-whiteframe-4dp"> 

              
                  <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
                  <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Chargement,veuillez patienter s'il vous plait ...
                  </div>
             
                 <md-tabs  md-dynamic-height>
                    <md-tab label="Filtre">
                      
                          <form name="filtrepardateform" class="md-inline-form" novalidate >
                            <br>
                            <div layout="column" layout-gt-xs="row">

                              <md-input-container flex="100" flex-gt-xs="10">
                                  <label>Année</label>
                                    <md-select ng-model="vm.filtre.annee" >
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="a in vm.annees" value="{{a}}" >
                                        {{a}}
                                      </md-option>

                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  
                                </md-input-container>
                                <!--div flex="100" flex-gt-xs="10">
                                    <u>  Date du:</u>
                                    <md-datepicker md-max-date="vm.filtre.date_fin" ng-model="vm.filtre.date_debut"
                                                      md-placeholder="Date debut" name="date_debut" required>
                                      
                                    </md-datepicker>
                                </div>
                                <div flex="100" flex-gt-xs="10">
                                    <u>  Jusqu'au:</u>
                                    <md-datepicker md-min-date="vm.filtre.date_debut" md-max-date="vm.now_date" ng-model="vm.filtre.date_fin"
                                                      md-placeholder="Date fin" name="date_fin" required>
                                      
                                    </md-datepicker>
                                </div-->
                           
                                
                                <!--md-input-container flex="100" flex-gt-xs="90">
                                  <label>Espèce</label>
                                    <md-select ng-model="vm.filtre.id_espece" >
                                      <md-option ng-repeat="region in vm.allregion" value="{{region.id}}">
                                        {{region.nom}}
                                      </md-option>
                                      <md-option  value="1">
                                        UP1
                                      </md-option>
                                      <md-option  value="2">
                                        UP2
                                      </md-option>
                                    </md-select>
                                </md-input-container-->
                            </div>
                            <div layout="column" layout-gt-xs="row" flex>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Région(= Strate Mineur)</label>
                                    <md-select ng-model="vm.filtre.id_region" ng-change="vm.filtre_district()" required ng-disabled="!vm.isADMIN">
                                    
                                      <md-option ng-repeat="region in vm.allregion" value="{{region.id}}" >
                                        {{region.nom}}
                                      </md-option>

                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>District</label>
                                    <md-select ng-model="vm.filtre.id_district" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_site()">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="d in vm.districts" value="{{d.id}}">
                                        {{d.nom}}
                                      </md-option>
                                  
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Site de débarquement</label>
                                    <md-select ng-model="vm.filtre.id_site_embarquement" ng-disabled="!vm.filtre.id_district">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="s in vm.sites" value="{{s.id}}">
                                        {{s.libelle}}
                                      </md-option>
                                  
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Unité de pêche</label>
                                    <md-select ng-model="vm.filtre.id_unite_peche" >
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="up in vm.unite_peches" value="{{up.id}}">
                                        {{up.libelle}}
                                      </md-option>
                                     
                                </md-input-container>
                            </div>
                            <div>
                            <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                  ng-disabled="filtrepardateform.$invalid||vm.affiche_load" ng-click="vm.exportexcel(vm.filtre)">
                                  Exporté en excel
                            </md-button>
                             <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                  ng-disabled="filtrepardateform.$invalid||vm.affiche_load" ng-click="vm.filtrer(vm.filtre)">
                                  Vérifier nombres d'échantillons
                            </md-button>
                            <!--md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                              Annuler
                            </md-button-->
                            </div>
                          </form>
                      
                    </md-tab>
                </md-tabs>

                <md-tabs md-dynamic-height>
                  <md-tab label="Liste unité de pêche">
                      <table class="dataTable row-border cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions">
                          <thead>                          
                          <tr>
                               <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">Unité de pêche</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">Nbr unité de <br> pêche  dans <br> l'enquête cadre</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">01</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">02</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">03</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">04</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">05</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">06</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">07</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">08</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">09</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">10</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">11</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title text-center">12</span>
                                </div>
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="d in vm.datas"  ng-class="{selected: unite_peche.$selected}">
                                  <td>{{d.unite_peche}}</td>    
                                  <td>{{d.enquete_cadre}}</td>    
                                 
                                  <td style="background-color: {{vm.couleur(d.jan)}};">{{d.jan}}</td>    
                                  <td style="background-color: {{vm.couleur(d.fev)}};">{{d.fev}}</td>    
                                  <td style="background-color: {{vm.couleur(d.mar)}};">{{d.mar}}</td>    
                                  <td style="background-color: {{vm.couleur(d.avr)}};">{{d.avr}}</td>    
                                  <td style="background-color: {{vm.couleur(d.mai)}};">{{d.mai}}</td>    
                                  <td style="background-color: {{vm.couleur(d.juin)}};">{{d.juin}}</td>    
                                  <td style="background-color: {{vm.couleur(d.jui)}};">{{d.jui}}</td>    
                                  <td style="background-color: {{vm.couleur(d.aou)}};">{{d.aou}}</td>    
                                  <td style="background-color: {{vm.couleur(d.sep)}};">{{d.sep}}</td>    
                                  <td style="background-color: {{vm.couleur(d.oct)}};">{{d.oct}}</td>    
                                  <td style="background-color: {{vm.couleur(d.nov)}};">{{d.nov}}</td>    
                                  <td style="background-color: {{vm.couleur(d.dec)}};">{{d.dec}}</td>    
                                
                                                      
                              </tr>
                          </tbody>
                      </table>
                  </md-tab>
                </md-tabs>
            </div> 
        </div> 
            
    </div>
    <!-- / CONTENT -->

  </div>
